[2017-06-21 16:23] ivoysey opened #1 "cmu-mars organzation members"
who should be a member of this org?

[2017-06-21 16:59] ivoysey opened #2 "break out catkinws"
break catkin ws from LL staging into a bunch of different repos in this org. this will mean putting together some sort of build script to do the right thing in something that's like llstaging but pulls from the repos.

[2017-06-23 14:36] schmerl opened #3 "FIx Gazebo 7 X problem for Kinetic"
Turns out, trying to run Gazebo7 in a windowless environment crashes with a rendering problem. The only fix to this is described in https://bitbucket.org/osrf/gazebo/issues/1837/vmware-rendering-z-ordering-appears-random, which appears to require recompiling gazebo.

This will require changes to the Vagrant file (and eventual docker):
1. Work out what parts of ROS to install
2. Install patched ver

[2017-06-24 16:40] schmerl commented on #3
Right now, I think the best thing to do (because of a bunch of dependencies) is to install everything as usual, and then just update the gazebo binary.

Building gazebo is a pain. These are the steps I (eventually) worked out to compile it:

1. **Build an entirely new Linux desktop VM.**
2. **Build the google protocol buffer library.** This is described at https://github.com/google/protobuf/blob/m

[2017-06-28 19:11] ivoysey opened #4 "make brasscomms more modular"
right now brasscomms has all the switches between different CPs and different modes all hard coded in. that isn't going to scale very well to the P2 deliverable, so isolating the sort of core of what they all need to do and having pluggable additions for each CP seems like a way forward.

maybe look into using Go instead of Python? it looks like there are some reasonable REST api tools and some Ro

[2017-06-29 18:04] ivoysey opened #5 "import jarrett's stuff"
import the source from jarrett's work in some appropriate way and get it to compile from source

https://github.com/jarrettHoltz/challenge_problem
https://github.com/jarrettHoltz/DeltaCalibration

per bradley, "you just need the stuff in the catkin_ws. I checked it out into its own directory. The stuff in installation is a clone of LLStaging."

[2017-06-29 18:05] ivoysey opened #6 "compile battery monitor from source"
in the P1 deliverable, cyrus's work was compiled manually and we just checked in the binary. this is brittle and irritating to do more than once.

[2017-07-06 15:02] ivoysey opened #7 "unify battery units"
in P1, we used mWh internally and volts on the API layer. this caused a fair amount of imprecision and hacking. in P2 and future, we should always and only discuss the state of the battery in terms of mWh.

[2017-07-06 15:07] ivoysey opened #8 "minimize the number of things in the config file"
P1 had some features of the system that could be set in both the config file and dynamically with REST end points. this introduced a fair amount of needless code complexity and chances for errors -- we had to detect some edge cases of possibly going off the automata dynamically and it's not great.

in P2, we should avoid this by *making the config file as small as possible*. it should contain exac

[2017-07-06 15:14] ivoysey opened #9 "consider models for charging as well as discharge"
there is also a simulation of how the battery charges when the bot arrives at a charging station. in CP1, when we're allowing the battery discharge model to be a parameter that we then learn, it's not clear what to do with discharging.

applying the same, naïve / reality based / from P1, discharge model in all situations is probably not the right thing to do. you could get weird plans that avoid l

[2017-07-06 15:15] ivoysey opened #10 "tool for autogen gazebo plugin"
do we need a tool that takes whatever xml representation of the function we're learning for the battery model and produces a version of https://github.com/cmu-mars/brass-energy-monitor for that mathematical function?

[2017-07-06 15:20] ivoysey opened #11 "which features are hidden?"
in the first cut at https://github.com/cmu-mars/marspolyparser, at least two things were in the XML that shouldn't be part of the hidden content. so if we're thinking of the XML as specifying just the hidden components, that's a mismatch:

* budget and queries -- how much each query costs, and how much budget we have, but this may be simplified into just a unit cost which we're always burn asap
*

[2017-07-06 17:07] schmerl commented on #3
This is how to get it installed. Note, this is what I ended up doing, and I don't have time to backtrack to see what steps are actually necessary. Broadly, the steps were:

1. Install (using Vagrant) in the normal way (i.e., without provisioning patch_gazebo)
2. Download all the deb files into a debs directory on the host
3. Copy these deb files1. Get the deb file that is used by default in kineti

[2017-07-06 19:18] schmerl opened #12 "Make Phase I work with ROS Kinetic and Gazebo 7"
Get Phase I working on a VM deployed by Vagrant but on ROS Kinetic and Gazebo 7.

[2017-07-06 19:19] schmerl opened #13 "Work out why Move Base is not issuing Odom Received, so not starting properly."
Currently, in the VM, move base is not allowing connections. One possible cause is that the robot is not placed properly.

[2017-07-06 19:21] schmerl commented on #12
This has #13 and #3  as sub issues.

[2017-07-06 20:40] pooyanjamshidi commented on #10
I think so, in other words, we need a generic discharge module that we can plugin different functions?

[2017-07-06 20:46] ivoysey commented on #10
I'm not sure what you mean. What I meant was a piece of code that parses your XML file and writes a gazebo plugin in C++ per function.

[2017-07-11 13:13] schmerl commented on #13
So, it turns out that this also doesn't work for the standard setup of ROS Kinetic/Turtlebot/Gazebo either. Options:

1. Compile and debug move base. This might include:
   - checking that AMCL comes up with the map
   - check that that camera is producing data
2. Move to the simulation of another robot under kinetic
   - this moves us further away from reality
3. Go back to Indigo and debug gazeb

[2017-07-11 13:17] schmerl opened #14 "Update challenge problem definitions with the new API from Lincoln Lab."
This is in accordance with the release at:

https://github.mit.edu/pages/brass/mitll-mock-application
https://github.mit.edu/brass/mitll-harness/releases/download/release-2.0.0/api-developer-guide.pdf

[2017-07-12 19:12] ivoysey opened #15 "try out using swagger"
MIT/LL suggested looking into using swagger to specify our REST apis; poking at it for about a half hour, I am inclined to agree.

I don't quite know how to integrate a swagger YAML file in a nice way into a markdown description, but it would be good to have that so that we can have something like one canonical definition of the APIs that produces some of the implementation and supports whatever s

[2017-07-12 19:12] ivoysey commented on #15
https://github.com/Swagger2Markup/swagger2markup possibly useful

[2017-07-14 21:00] schmerl commented on #13
This turned out to be a a twofold problem:

1. The FSAA fix for gazebo did not work, and so another one had to be made.
2. The openni library that was customized to turn on/off the Kinect no longer worked but was failing silently. Making the on/off patches to the kinetic version.

To keep track of this I created the repository: https://github.com/cmu-mars/GazeboModifications that contains the modi

[2017-07-14 21:24] schmerl commented on #3
The version of Gazebo is now in the repo: https://github.com/cmu-mars/GazeboModifications

[2017-07-14 21:24] #3 closed

[2017-07-14 21:24] #13 closed, assigned to schmerl

[2017-07-14 21:25] schmerl commented on #12
Tested (without Rainbow) a task. Seems to now work ok!

[2017-07-14 21:25] #12 closed, assigned to schmerl

[2017-07-24 21:33] ivoysey opened #16 "evaluation criterion for P2"
in P1, there were some consequences of the eval criteria that we didn't especially like -- specifically with respect to tests that were invalid getting dropped, and invalidity being determined by any one of a triple, so losing information that way. there were other things that could have been finer grain and more descriptive.

[2017-08-07 20:04] ivoysey opened #17 "start waypoints are distinct from goal waypoints"
across all challenge problems, we want to make sure to clearly specify that a valid mission must end at a different waypoint than it started. this was a pain-point in debugging in Phase 1.

[2017-08-11 21:06] ivoysey opened #18 "uniform naming conventions in APIs"
right now we are a hot mess of mixed case, hyphens and underscores, all caps, etc.

[2017-10-06 16:44] #15 closed, assigned to nobody

[2017-10-06 16:47] #7 closed, assigned to nobody

[2017-10-06 16:47] #8 closed, assigned to nobody

[2017-10-06 16:47] #9 closed, assigned to nobody

[2017-10-06 16:48] #14 closed, assigned to ivoysey, schmerl, pooyanjamshidi

[2017-10-06 16:51] #4 closed

[2017-10-06 17:31] #17 closed, assigned to ChrisTimperley, ivoysey, schmerl, miguelvelezmj25, pooyanjamshidi

[2017-10-06 17:31] #18 closed, assigned to ivoysey

[2017-10-06 17:32] #1 closed

[2017-10-24 15:23] schmerl opened #19 "Get base system working for CP3"
This involves the following big tasks:

1. Get MPRT localization and navigation working
2. Update the robot model to (a) add a light and (b) add a HokuyoLIDAR sensor
3. Update the map to use, to consider lighting and protrusions that would be missed by the lidar.
4. Use WhyCon or ArUco marker navigation

[2017-10-24 15:25] schmerl opened #20 "Get MRPT localization and navigation running on turtlebot"
Install and get the MPRT localization option working. This should work for both the Kinect and Hokuyo sensors.

[2017-10-24 15:26] schmerl opened #21 "Update Turtlebot model to have a headlamp"
Update the gazebo model for turtlebot to include a headlamp.

[2017-10-24 15:28] schmerl commented on #21
The first prototype for this is in: https://github.com/Ashutoshp/Gazebo-Light-Plugin.

[2017-10-24 15:29] ivoysey commented on #21
also relevant to https://github.mit.edu/brass/cmu-robotics/issues/48

[2017-10-24 15:31] schmerl opened #22 "Get a marker based navigation alternative"
Get a marker-based navigation alternative working for turtlebot, either:

https://github.com/lrse/whycon/

or

http://wiki.ros.org/aruco, https://github.com/eYSIP-2017/eYSIP-2017_Navigation-in-Indoor-Environments-using-drone/wiki/Setup-ArUco-Mapping-package, https://github.com/pal-robotics/aruco_ros

[2017-10-24 15:32] schmerl opened #23 "Add Hokuyo LIDAR to turtlebot model"
The HokuyoLIDAR sensor should be added to the top of the turtlebot in the gazebo model.

[2017-10-24 15:33] schmerl opened #24 "Create the world for CP3"
The new world for CP3 needs to be created, with lighting and protrusions from the wall.

[2017-10-24 15:34] schmerl commented on #19
The sub issues for this are #20, #21, #22, #23, #24

[2017-11-13 18:43] schmerl commented on #24
Also need to generate the map JSON.

[2017-11-13 18:44] schmerl commented on #23
Current status: Gazebo is crashing with the LIDAR.

[2017-11-13 18:47] schmerl commented on #21
This is working with Gazebo 7.8, just need to have it integrated with the bigger code base.

[2017-11-13 18:48] schmerl commented on #20
I was able to install the mrpt-navigation package and was able to run a demo for mrpt_localization fine. However, I have 2 issues:
- I couldn't understand what the demo is doing from looking at the .ini file of the mrpt_localization node. The ini file has several configuration options, but none of them seems to be about the "goal" of the robot. (I see the robot moving around when I run the demo, b

[2017-11-13 18:51] schmerl opened #25 "Get self-adaptive ROS framework working"
Is working in new ROS on simple examples (reconfiguring fake nodes). But running big one (e.g., restarting movebase) is not working.

[2017-11-13 19:17] schmerl opened #26 "Self-adaptive planning scenario"
Assuming that we have different algorithms, sensors, etc. working, develop and example of the planner coming up with a new plan (not integrated with the actual system).

Prerequisites:

1. Mission, Robot State
2. Architecture of the current system
3. Rules for what a correct architecture is
4. Impact of tactics on the qualities of the system (accuracy, timeliness, safety, efficiency)

[2017-11-17 16:05] schmerl commented on #22
Please find below a summary of my progress.

I haven't been able to get a correct 3D pose for a marker in gazebo. I attached a screen shot of the rviz visualization. The aruco_ros package successfully finds the ARtag in an image, however the 3d pose of the marker is not correct. Here are the steps to add a marker to gazebo simulation:

1) I used the following package to generate gazebo models for

[2017-11-17 16:06] schmerl commented on #22
The problem with the funny transformations was twofold: (1) the size of the marker is 50cm not 5cm as was specified in aruco.launch, and (2) the image in gazebo seems to be back-to-front and upside down.

Need to work out why (2) is happening and how to fix it.

[2017-12-04 14:25] schmerl commented on #24
https://github.com/cmu-mars/utils/blob/master/generate-lights.py is a utility that adds lights to the Gazebo world based on the map. The util can either: (a) take the waypoints in the map and put a light over each one (and update the map with the lights, or (b) use an already defined set of lights in the map JSON and just add them to the gazebo world.

gazebo_interface.py has also been changed to

[2017-12-08 17:47] schmerl commented on #23
Here is a potentially useful link:

http://amanbreakingthings.blogspot.com/2014/11/adding-hokuyo-lidar-to-turtlebot-in-ros.html

[2017-12-15 17:13] bisc commented on #25
Update. Downloaded a source build of relevant ROS Kinetic packages (same as in [here](https://github.com/adityam1/turtlebot_SCN_MSIT_ESE/tree/kinetic_gazebo7/turtlebot/src)) from [TurtleBot](https://github.com/turtlebot) and [ROS Planning](https://github.com/ros-planning). Checked out latest releases for all repos except [turtlebot_create_desktop](https://github.com/turtlebot/turtlebot_create_desk

[2018-01-09 17:46] schmerl commented on #23
This is now working. Looks like obstacles of 0.75m high are not seen by the lidar, but are seen by Kinect.

[2018-01-09 17:46] #23 closed, assigned to nobody

[2018-01-09 17:51] #20 closed, assigned to nobody

[2018-01-10 21:59] schmerl commented on #22
Current todo list:
1/ Generate multiple 50cm markers with 0 buffers, using: http://terpconnect.umd.edu/~jwelsh12/enes100/markergen.html to generate the images. #27
2/ Turn those images into Gazebo models that could be incorporated into gazebo. Copy the examples multiple times, replacing the mesh; probably write a script for this #27
3/ Work out a way to place multiple markers into the world from t

[2018-01-11 16:01] schmerl opened #27 "Generate Markers"
Using http://terpconnect.umd.edu/~jwelsh12/enes100/markergen.html, generate markers for Aruco (as many as possible) and create Gazebo models for them. Base this on the existing model that uses one marker. This is mostly going to this site, generating a marker with <ID> in increasing numbers starting at 0, and creating a marker<ID> model directory. There is already on for marker0, but I think the I

[2018-01-11 16:01] schmerl commented on #22
#27

[2018-01-11 17:04] schmerl opened #28 "Place markers on the map"
Visual markers need to be placed on the map in a way that means the robot can always see at least one marker! We probably want to do this with code, using the mapeditor and the utilities that generate the world. Some complicating factors:

1. The markers should be placed high enough so that they are above any low obstacles we also place in the  map
2. The markers need to be placed on a walls (I th

[2018-01-11 17:15] schmerl opened #29 "Localize base on multiple markers"
Requires writing a localizer that publishes the tf for odom and marker, because marker_publisher doesn't do this (unlike simple_single and simple_double). So, the code needs to do a combination of marker_publisher and simple_double from aruco ros. In fact, it's probably the case that it should be something like:
[code]
It's possible that marker_tfs and marker_localizer could be combined.

[2018-01-11 17:15] schmerl commented on #22
4/ and 5/ above are not as straightforward as the above. Requires writing a localizer that publishes the tf for odom and marker, because marker_publisher doesn't do this (unlike simple_single and simple_double). So, the code needs to do a combination of marker_publisher and simple_double. See #29

[2018-01-12 20:30] schmerl commented on #27
This is now in: https://github.com/cmu-mars/utils/blob/master/generate-marker-models.py, with 256 marker images constructed. So far, the generated gazebo models aren't in github -- they should probably go under CP3.

[2018-01-12 20:30] #27 closed, assigned to schmerl

[2018-02-19 15:19] schmerl opened #30 "Regenerate time estimates for CP3"
The time estimates for paths need to be regenerated using a new timing model.

[2018-02-19 15:21] schmerl commented on #30
I'm putting this issue in as a reminder that we need to make sure to redo this close to the deadline for evaluation.

The issue is that we made need different estimates for each configuration of the robot, for each path, but we should discuss this at some point.

Also, we might want to set up some experiments on gazebo for learning this experimentally with Gazebo.

[2018-02-19 15:28] bisc commented on #30
Do you mean experiments similar to those Rajat did, but with a newer version of Gazebo?

[2018-02-19 15:33] schmerl commented on #30
Unfortunately, yes.

[2018-02-19 15:44] bisc commented on #30
Hopefully it would be sufficient to calibrate the expected time with a constant multiplier if needed.

[2018-02-19 16:03] javier-camara commented on #28
Should this issue be closed? I believe that you are already doing this via code, right?

[2018-02-19 16:07] schmerl commented on #28
This has now been changed to be done automatically by a script in utils.

[2018-02-19 16:07] #28 closed, assigned to schmerl, javier-camara

[2018-02-19 17:27] bisc commented on #25
Update. Got a VM from Ashutosh with Gazebo 7.8.1 and a working ROS Kinetic. Downloaded the following sources/versions:
 - navigation: 1.15.1  https://github.com/ros-planning/navigation.git
 - turtlebot: 2.4.2  https://github.com/turtlebot/turtlebot.git
 - turtlebot_apps: 2.3.7 https://github.com/turtlebot/turtlebot_apps.git
 - turtlebot_create: 2.3.1  https://github.com/turtlebot/turtlebot_create.

[2018-02-19 18:40] schmerl commented on #29
Done

[2018-02-19 18:40] #29 closed, assigned to schmerl

[2018-02-19 18:42] schmerl commented on #21
See: https://github.com/cmu-mars/cp3_base/tree/develop

[2018-02-19 18:42] #21 closed, assigned to nobody

[2018-02-19 18:43] schmerl commented on #22
Done. Needed to add a backward facing camera as well, to increase likelihood of at least one marker being visible at all times.

[2018-02-19 18:43] #22 closed, assigned to schmerl

[2018-03-07 23:00] schmerl opened #31 "Paths for waypoint 50 missing"
The paths where waypoint 59 are the target or the source are missing from instructions-all.json. These need to be regenerated.

[2018-03-07 23:01] schmerl commented on #31
These will be in cp3_base/instructions/

[2018-03-09 22:14] schmerl opened #32 "Aruco marker models have hardwired paths"
To make the markers work, hardwired paths are needed. Need to generate the models in the docker file to get the right paths.

[2018-03-09 22:14] #31 closed, assigned to schmerl

[2018-04-09 01:27] pooyanjamshidi opened #33 "Script for configuration id"
@schmerl I forgot what exactly I needed to do for this, can you please let me know what was this? my poor memory!

[2018-04-09 01:29] pooyanjamshidi opened #34 "Update battery plugin to write charge level to topic"

[2018-04-09 01:33] pooyanjamshidi opened #35 "Model/Gauges for config id"

[2018-04-09 01:36] pooyanjamshidi opened #36 "Power analyzer for rainbow"
Write an analyzer for Rainbow that takes current configuration of the robot, its current charge, and rest of actions that need to accomplish and then determine whether the action can be accomplished given the current charge or not.

[2018-04-09 01:36] pooyanjamshidi opened #37 "Finalize the planner for CP1"

[2018-04-09 01:37] pooyanjamshidi opened #38 "Add reconfig logic for IG"

[2018-04-09 01:38] javier-camara commented on #37
Working on this now. Pooyan, could you please send me the map you are going to use for CP1? I'd like to run some tests. Thanks.

[2018-04-09 01:39] pooyanjamshidi opened #39 "Change planner to use reconfiguration logic of IG"

[2018-04-09 01:40] pooyanjamshidi opened #40 "Mission sequencer API for Rainbow"

[2018-04-09 01:45] pooyanjamshidi commented on #37
We are now using this map for our experiments: https://github.com/cmu-mars/cp1_base/blob/master/maps/cp1_map.json
But we might change it after we do our experiments depending on the results.

[2018-04-09 03:09] pooyanjamshidi commented on #34
The battery charge is written to the following topic: `/mobile_base/commands/charge_level`. @schmerl is that OK?

[2018-04-09 13:20] schmerl commented on #33
You need a script that prints the configuration id of the robot to stdout, I think.

[2018-04-09 13:20] schmerl commented on #34
Sure. You'r saying it does this now?

[2018-04-09 15:06] pooyanjamshidi commented on #34
Yes, it now publishes to the [topic](https://github.com/cmu-mars/brass_gazebo_battery/blob/0aeba9e53a7ccedf614de0968cf9ba81fe187555/src/battery_discharge.cpp#L79). I'm going to close this issue then.

[2018-04-09 18:33] javier-camara commented on #37
This is now done in the terms discussed (objective function is a weighted linear combination of remaining energy maximization and time minimization terms). Tested on the map in
https://github.com/cmu-mars/cp1_base/blob/master/maps/cp1_map.json

[2018-04-09 18:41] pooyanjamshidi commented on #37
Thanks, I presume it's not tight to the map? so we can change the map later?

[2018-04-09 19:51] schmerl commented on #34
@pooyanjamshidi Does this just report a Float64, or some other format for the message?

[2018-04-09 19:57] pooyanjamshidi commented on #34
`std_msgs::Float64`

[2018-04-09 22:04] schmerl commented on #38
I started this. I am envisaging four new instructions (1 for cp1 and 3 for cp3):

**cp1:** SetCP1Config(string)
**cp3:**

- StartNodes(["aruco"|"amcl"|"mrpt"])
- KillNodes(["aruco"| "amcl"| "mrpt"])
- SetSensor(["lidar"|"kinect"|"cameras"|"headlamp"], ["on"|"off"|"True"|"true"|"False"|"false"])

[2018-04-09 22:05] schmerl commented on #38
@pooyanjamshidi I will let you write the code for CP1. I'll point you to the file when I think I am ready to have you do it.

[2018-04-10 02:17] pooyanjamshidi commented on #33
The [probe](https://github.com/cmu-mars/cp1_controllers/tree/master/scripts) is done. @schmerl would you please check if this is OK?

[2018-04-10 21:48] schmerl commented on #36
@javier-camara Can you remind me what this is for? Don't we have something like this already in the planner?

[2018-04-10 22:09] javier-camara commented on #36
This is an analyzer similar to the one we had in Phase 1 to determine if there is enough energy to complete the rest of the mission (although there are of course minor differences). Expanding a bit Pooyan's text: "Write an analyzer that takes current configuration of the robot, its current battery charge, and rest of actions that need to accomplished to complete the task, and then determine whethe

[2018-04-11 01:25] javier-camara commented on #36
Sorry, I was reading this again, and I need to make some corrections:  "Write an analyzer that takes the current configuration of the robot, its current battery charge, and rest of actions that need to accomplished to complete the task, and then determine whether the remainder of the task can be accomplished (i.e., determine if the current battery charge is greater or equal to the energy required

[2018-04-11 20:49] schmerl opened #41 "Generate different static plans depending on configuration"
Currently, one path is generated for source, target pair. This path is the fastest and shortest path, which means that in some configurations Baseline A might fail (e.g., if the fastest and quickest path is through a dark corridor and the start configuration is visual markers). This means that the time score for Challenge will never do better and rarely do the same as A.

To ameliorate this, we sh

[2018-04-16 14:40] schmerl commented on #35
This is in: https://github.com/cmu-able/rainbow/tree/develop/deployments/rainbow-brass/src/main/java/org/sa/rainbow/brass/model/p2_cp1/robot and https://github.com/cmu-able/rainbow/tree/develop/deployments/rainbow-brass/src/main/java/org/sa/rainbow/brass/gauges/p2_cp1

[2018-04-16 14:41] schmerl opened #42 "No gauge for robot speed"
Need to add a probe and update RobotStateGauge for CP1 and CP3 to include speed of the robot.

[2018-04-16 14:42] #32 closed, assigned to schmerl

[2018-04-16 14:43] #24 closed, assigned to nobody

[2018-04-16 14:43] #19 closed, assigned to schmerl

[2018-04-16 14:56] schmerl opened #43 "CP3 Battery discharge too quickly"
The discharging of the battery in CP3 happens very quickly. Need to audit the code with Ivan and Javier to work out why this is the case, and come up with plausible numbers.

[2018-04-16 17:44] pooyanjamshidi commented on #40
@schmerl I presume we need to have a way to identify when a task is finished so we can proceed to initiate the subsequent task. The way how we do it for baseline A and B is that we have a [loop](https://github.com/cmu-mars/cp1_controllers/blob/master/src/bot_controller.py#L109) that sequentially runs the tasks and wait until the instruction server execute the igcode and tell us whether it succeed

[2018-04-16 18:01] schmerl commented on #40
No need to @ me - I think I get updated on this automatically because I am assigned to this task.

Remind me again what needs to be done in Rainbow? It won't be executing this loop, right? I can't quite remember what we discussed about it a couple of weeks ago (too many intervening task before getting to this one), and the description you provided about the task doesn't really help me remember :-)

[2018-04-16 19:06] schmerl commented on #40
@pooyanjamshidi Perhaps we do need to @ each other. See above.

[2018-04-16 20:20] pooyanjamshidi commented on #40
@schmerl As far as I remember, Rainbow needs to indicate somewhere (in a shared file or something) that it is done with the current task (whether it successfully accomplished the task or it gave up after some predefined number of attempts). So the code that keeps track of executing the tasks will go ahead with the next task.

So now something is not clear to me (because of lack of understanding Ra

[2018-04-16 20:57] schmerl commented on #42
@pooyanjamshidi @javier-camara  Do you need to robot speed for anything in CP1?

[2018-04-16 21:06] schmerl commented on #40
@pooyanjamshidi  Ah, ok, that makes sense. Then this is how I think things should work.

For each task in the mission:
1. The sequencer should indicate the target waypoint for that task is (Rainbow will need to know this for replanning)
2. The sequencer should pass the start instruction graph for that task to the ig_interpreter.
3. Rainbow should indicate when it thinks it is done with the task

2

[2018-04-16 21:51] pooyanjamshidi commented on #40
@schmerl yeah, they make sense, for 1 how about writing it to `~/cp1/current-target-waypoint` since I have some other shared file like `cp1/config_list.json` that the @javier-camara planner needs?

[2018-04-16 22:12] pooyanjamshidi commented on #42
I'm not sure I understand the question, in CP1 we may have a different speed for each configuration, so when the configuration changes the robot speed needs to be changed.

[2018-04-16 23:03] schmerl commented on #40
OK. That makes sense.
On Mon, Apr 16, 2018 at 5:51 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-04-16 23:07] schmerl commented on #42
Is there any reason in CP 1 why there adaptive system would need to know
the speed of the robot for analysis or planning?
On Mon, Apr 16, 2018 at 6:12 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-04-16 23:44] javier-camara commented on #42
I am not sure that the adaptive system needs to monitor speed at runtime. For planning purposes, we need to know the speed of the robot, which is given by config_list.json. For analysis, we also need the battery consumed in the remaining task actions, which indeed depends again on speed (which determines the amount of time that we are discharging the battery). However, that speed is also provided

[2018-04-17 14:56] bisc commented on #25
Update. Managed to patch, compile, and run the Kinetic version of AMCL (specified above).

Next steps:
- patch, compile, and run move_base
- procure source code for other navigation-related packages used in the other two modes
- patch, compile, and run that source code

[2018-04-17 15:05] schmerl opened #44 "Implement dummy THs for internal testing"
Our internal testing is hampered because we do not have a TH, which needs to be in place for the TA to actually work.

We need to take the swagger files and generate a dummy TH that can at least get us to the started state so that we can start tests and test TA semantics and coordination with the back end.

[2018-04-17 15:06] schmerl opened #45 "Do testing on Amazon cloud"
We need to do our own testing on Amazon AWS, not wait for LL to get around to it. This involves someone working out how to deploy our docker images there, and how to manage the funding/cost associated with doing this (because we probably can't use the free tier due to required machine size).

[2018-04-17 15:08] schmerl commented on #42
OK.  This has been done for CP3, and so I will mark this as done.

[2018-04-17 15:08] #42 closed, assigned to schmerl

[2018-04-17 15:09] schmerl commented on #40
I have just checked a prototype probe into the develop branch of rainbow-brass (currently untested).

Will integrate an effector and associated actions in Rainbow when Pooyan delivers the script for saying when a task is done.

[2018-04-17 15:12] schmerl opened #46 "New Plan to Instruction Graph interpreter"
Take advantage of the new instructions in the IG interpreter

[2018-04-17 17:04] miguelvelezmj25 commented on #36
The code with this functionality is [here](https://github.com/cmu-mars/ph2-cp1-energy-consumption).

[2018-04-17 17:08] schmerl commented on #36
Thanks. Looks like it is not completely implemented? (The method that we
need that takes the time and the config throws an exception by default?)

On Tue, Apr 17, 2018 at 1:04 PM Miguel Velez <notifications@github.com>
wrote:

[2018-04-17 17:43] miguelvelezmj25 commented on #36
That is what I wanted to talk about today. The path to define where the config file is to get the configuration and power load is declared "final" in the jar file you sent me. So, I cannot change it. That is why the I added the other method that takes the power load and time. Once I can change the path, I can implement my own class to read the config file. However, the general functionality should

[2018-04-17 17:55] schmerl commented on #36
OK. I think that is what the other file (which you've left empty) is meant
to be for. In any case, you might want to connect with Javier on this.

On Tue, Apr 17, 2018 at 1:43 PM Miguel Velez <notifications@github.com>
wrote:

[2018-04-17 18:02] pooyanjamshidi commented on #40
@schmerl is this shell [script](https://github.com/cmu-mars/cp1_controllers/blob/master/scripts/current_task_finished.sh) OK for item 3 above?

[2018-04-17 18:04] schmerl commented on #40
Do you want to know whether we FAILED? Do you want to know what task we
think we finished? If not, then this is ok.

On Tue, Apr 17, 2018 at 2:02 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-04-17 18:27] pooyanjamshidi commented on #40
Good, revised it and added the FAILED case via an argument.

[2018-04-17 18:34] pooyanjamshidi commented on #36
As a note to @javier-camara and @miguelvelezmj25: the list of config file should live at `~/cp1/config_list.json`. So the model-learner dumps the list in that path and it is where the planner should find it.

[2018-04-17 19:16] schmerl opened #47 "Audit docker files for main and gazebo"
mars-main-p2 in particular has old map files and things that I am not sure make sense anymore given that CP1 and CP3 do not share these, or the turtlebot models, or the plugins. We should go through these and make sure they contain only things that are shared by all challenge problems.

[2018-04-17 20:13] miguelvelezmj25 commented on #36
As discussed today, I will duplicate the necessary classes to test my code and remove the throwing of the exception.

[2018-04-17 20:49] ivoysey opened #48 "write swagger file describing internal status end point"
`/internal`

[2018-04-17 20:52] ivoysey commented on #26
defunct / done

[2018-04-17 20:52] #26 closed, assigned to nobody

[2018-04-17 21:15] ivoysey commented on #2
deprecated

[2018-04-17 21:15] #2 closed

[2018-04-17 21:15] ivoysey commented on #5
deprecated

[2018-04-17 21:15] #5 closed, assigned to ivoysey

[2018-04-17 21:15] ivoysey commented on #6
deprecated

[2018-04-17 21:15] #6 closed, assigned to ivoysey

[2018-04-17 21:15] ivoysey commented on #10
deprecated

[2018-04-17 21:15] #10 closed, assigned to ivoysey, pooyanjamshidi

[2018-04-17 21:15] ivoysey commented on #11
deprecated

[2018-04-17 21:15] #11 closed, assigned to ivoysey, pooyanjamshidi

[2018-04-17 21:15] ivoysey commented on #16
deprecated

[2018-04-17 21:15] #16 closed, assigned to ivoysey, schmerl, joshsunshine

[2018-04-17 21:16] ivoysey commented on #25
@schmerl is this still active? if so what milestone does it belong to?

[2018-04-17 21:38] schmerl commented on #25
I've made it RR3. Let's make sure that this gets in in May.

[2018-04-17 21:59] schmerl commented on #48
I have an initial version defined [here](https://github.mit.edu/brass/cmu-robotics/blob/development/documents/swagger-yaml/cp3-internal.yml).

[2018-04-17 22:11] schmerl opened #49 "CP3 Sensor and Config listener"
For RR2, there needs to be a listener implemented that tells the TA when the set of sensors or the configuration changes. There are two options for this:

1. Communicate this from Rainbow that will know what configuration and sensor is planned. Downsides:

    a. Rainbow only knows what is planned not what actually happens
    b. Rainbow doesn't know when the configuration occurs

2. Add code to C

[2018-04-18 12:44] schmerl commented on #49
Moved to RR3 because it is really about evaluation.

[2018-04-18 13:15] miguelvelezmj25 commented on #36
I have duplicated the necessary classes and tested the functionality.

The latest commit is located [here](https://github.com/cmu-mars/ph2-cp1-energy-consumption/tree/6cb1a96f42ad4a143d9bc1fc1426682dfe41f7af).

[2018-04-18 13:15] #36 closed, assigned to miguelvelezmj25

[2018-04-18 13:21] miguelvelezmj25 opened #50 "Integrate ph2 cp1 power analyzer for Rainbow"
The [ph2-cp1-energy-consumption](https://github.com/cmu-mars/ph2-cp1-energy-consumption) repo containts the ph2 cp1 power analyzer. The main functionality is located in the org.sa.rainbow.brass.analyses.ph2.cp1.EnergyConsumptionPredictor class. Specifically, the getEnergyConsumption method takes a Configuration object and time and returns the energy consumed during that time. The canCompleteTask m

[2018-04-18 17:17] schmerl commented on #43
This is probably because when reading the SDF, we are not dividing by 3600.

[2018-04-18 17:22] ivoysey commented on #48
@schmerl OK, that looks good to me. I'll use that to make an internal status endpoint at that name running on the TA, so you can work assuming such a thing exists. I am not totally positive how you'll know what address the TA is running on though? It might just be localhost from the point of view of the DAS because they're not getting composed together any more.

[2018-04-18 17:44] schmerl opened #51 "Work out reasonable discharge coefficients for CP3"
The numbers should roughly follow these constraints:

headlamp < lidar < kinect < camera

[2018-04-18 18:30] bisc commented on #51
Could you put a pointer here to the simulation code that we reviewed today?

[2018-04-18 18:52] ChrisTimperley opened #52 "Use env file to specify base URLs of external BugZoo servers"
For now, we should use an environment file, `bugzoo.env`, hosted in the same directory as `docker-compose.yml` to provide the base URL for a single BugZoo server.

[code]

[2018-04-18 18:54] ivoysey commented on #52
when you figure out exactly where you want that text file to be, this is the issue to update on the other repo to tell lincoln what to do. https://github.mit.edu/brass/cmu-robotics/issues/39

[2018-04-18 21:34] bisc commented on #30
This issue may refine/extend the timing model from here: https://github.com/cmu-mars/motion-timing

[2018-04-18 23:27] schmerl opened #53 "Incorporate timing model"
Currently, the timing model for how long it will take the robot to travel a distance is computed strangely: We use experimental data where that exists, but then use a simple calculation to compute the distance when the experimental data doesn't exist. We need to do the following:

1. Incorporate the code in https://github.com/cmu-mars/motion-timing/blob/master/turtlebot_timeEstimation.py as a Java

[2018-04-19 00:59] schmerl commented on #48
I think internally we know both the host and port.
On Wed, Apr 18, 2018 at 1:22 PM Ian Voysey <notifications@github.com> wrote:

[2018-04-19 03:39] pooyanjamshidi commented on #48
Here is the cp1 [swagger](https://github.com/cmu-mars/cp1_controllers/blob/master/swagger/cp1-internal.yaml) for `/internal`. @ivoysey please check.

[2018-04-19 12:38] schmerl commented on #51
https://github.com/cmu-mars/brass_gazebo_plugins/blob/develop/src/energy_monitor.cc

[2018-04-19 15:05] pooyanjamshidi commented on #44
For internal testing, I think, we only need a TA. I guess we can generate a dummy TA from the swagger file you generated for cp1 and other cps, right @ivoysey?

[2018-04-19 15:11] ivoysey commented on #44
@pooyanjamshidi no, bradley is right, we need the TH. To see why, just look at any of the sequence diagrams: the first thing the TA does is send a request to the `TH:/ready` for the initial configuration data. If that request fails, the only thing that can happen is that the whole test fails -- so no TH means no configuration means failure.

We specifically don't need to generate a dummy TA becaus

[2018-04-19 15:27] ivoysey commented on #48
@pooyanjamshidi  I'm going to move this to the same place that Bradley has his, which is in the cmu-robotics repo with the other swagger files. I'm also going to clean it up just a little bit. I'll let you know when I've done that, and I'll delete the copy here so. It's easier if all the swagger files are in exactly one place.

[2018-04-19 15:32] pooyanjamshidi commented on #33
@schmerl I presume this was OK so I'll close the issue, reopen it if you think something is missing.

[2018-04-19 15:32] #33 closed, assigned to pooyanjamshidi

[2018-04-19 15:33] #34 closed, assigned to pooyanjamshidi

[2018-04-19 15:34] #35 closed, assigned to schmerl

[2018-04-19 15:35] #37 closed, assigned to javier-camara

[2018-04-19 15:42] pooyanjamshidi commented on #38
@schmerl is there any update about this?

[2018-04-19 15:47] pooyanjamshidi opened #54 "Docker image for rainbow"
I believe this is clear as we discussed this before. Something that is not clear from the composition point of view, whether this docker should be built on top of the current docker files for `cp1` and `cp3`?

[2018-04-19 16:16] ivoysey commented on #48
@pooyanjamshidi OK; I've updated the cp1 repo to remove the file and added it to https://github.mit.edu/brass/cmu-robotics/blob/development/documents/swagger-yaml/cp1-internal.yaml instead.

[2018-04-19 16:33] schmerl commented on #48
For mine, I think we need some flexibility in the internal status enum -- I
discovered another one that would be useful yesterday. Maybe we could just
change it to a string and enumerate the valid values in the comments, to
avoid lots of regeneration? Or doesn't that part matter to much because it
is just an object?

On Thu, Apr 19, 2018 at 12:16 PM Ian Voysey <notifications@github.com>
wrote:

[2018-04-19 16:42] schmerl commented on #38
No. As I mentioned above, I need you to write the code that will be the backend for this and actually do the reconfiguration in your system For my part, I have added a new instruction called:

SetCP1Config(string)

That will take a configuration id from your power model JSON file. The IG mechanics should all be in place, but I need you to write the python code to actually set it in your system. Se

[2018-04-19 16:42] schmerl commented on #38
^^^^ @pooyanjamshidi

[2018-04-19 16:48] ivoysey commented on #48
@schmerl I think it's a trade off. It's more regeneration, but also more information to localize errors in a stack trace if something goes wrong. I haven't done a ton with the output of codegen for the internal endpoints just yet, but I *think* it won't be that terrible to update if they change.

[2018-04-19 16:56] ivoysey commented on #48
The more I think about it the more I think I'd rather try dealing with codegen. Not using enums is really against the spirit of the tool; it feels like something that might save time in the short term but bite us eventually.

[2018-04-19 17:44] pooyanjamshidi commented on #38
@schmerl done, please check [cp1_instructions.py](https://github.com/cmu-mars/ig-action-server-p15/blob/master/ig_action_server/src/cp1_instructions.py).

[2018-04-19 17:52] bisc commented on #25
MRPT is now patched with the reconfiguration capability and builds correctly. (I'm not touching move_base in the near future.)

[2018-04-19 18:12] pooyanjamshidi commented on #44
We can simply put a default configuration hardcoded in a dumb TH, something like:
[code]
then there is no failure ;)

[2018-04-19 18:14] ivoysey commented on #44
Yes. Or make it read from a file so it's a little bit easier to change.

[2018-04-19 18:49] schmerl commented on #54
Yeah, I was thinking about that. I think that we're going to have to have

cp1_base <- cp1_rainbow <- cp1_ta

and

cp3_base <- cp3_rainbow <- cp3_ta

[2018-04-19 18:51] #50 closed, assigned to schmerl, javier-camara

[2018-04-19 18:51] ivoysey commented on #54
That was pretty much what I expected, yeah.

On Thu, Apr 19, 2018 at 2:49 PM, Bradley Schmerl <notifications@github.com>
wrote:

[2018-04-19 18:57] schmerl commented on #43
That seems to have done the trick.

[2018-04-19 18:57] #43 closed, assigned to bisc, schmerl, javier-camara

[2018-04-19 18:58] #40 closed, assigned to schmerl, pooyanjamshidi

[2018-04-19 20:14] pooyanjamshidi commented on #39
@javier-camara is this done? note that #38 is now done, I guess.

[2018-04-19 20:38] javier-camara commented on #39
Yes, although we haven't been able to test it yet.

[2018-04-21 00:24] schmerl opened #55 "Work out why analyzer doesn't reset the architecture error"

[2018-04-21 00:25] schmerl opened #56 "Work out why gauge reconfiguration logic is broken"

[2018-04-21 00:25] schmerl opened #57 "Make sure planner waits for new IG after it has issued a plan."

[2018-04-21 15:33] schmerl opened #58 "Reconfigure registers as fail"
When not reconfiguring, the disappearance of a node is reported as a failure by the ArchitectureGauge, the same as when it fails. This needs to be changed to report it as INACTIVE.

[2018-04-21 19:45] #57 closed, assigned to schmerl

[2018-04-21 19:45] #55 closed, assigned to schmerl

[2018-04-21 19:50] schmerl opened #59 "Planner does not seem to run the second time"
Or, this is a problem with the source configuration. To reproduce:

1. Start system and rainbow
2. Start going
3. Kill amcl
4. Wait for new IG
5. Kill aruco
... plan is not found - exception is thrown in PrismPolicy here:
[code]
The problem is that the configuration is that `m_plan.get(i)...` is not in `reconfs`.

[2018-04-23 03:15] #39 closed, assigned to javier-camara

[2018-04-23 12:50] schmerl opened #60 "CP1 stack minor errors"
1. When logging in to one of the cp1 controllers, the entrypoint.sh has an error: `devel/setup.sh: no such file exists`. This is probably a cut paste error from cp3.

2. cp1_base Dockerfile installs mrpt_localization, which I'm pretty sure is not needed.

[2018-04-23 12:52] schmerl opened #61 "Tag release versions of sub-components"
Various of the challenge problems check out versions from our sub-git repositories. Before RR2 we should make sure to tag a release/RR2 for each of these and amend the docker files to check out this branch. This will help with coordination the week before RR3 is due where we will be integrating and testing RR2 with LL.

[2018-04-23 13:11] pooyanjamshidi commented on #60
@schmerl
1. What `entrypoint.sh`?
2. right `mrpt_localization` was not needed, fixed.

[2018-04-23 13:13] schmerl commented on #60
This is the actual error:

`/home/mars/catkin_ws/entrypoint.sh: line 3: devel/setup.bash: No such file or directory`

[2018-04-23 14:02] schmerl commented on #60
@pooyanjamshidi
3. Some files that get copied (in CP1 controllers and probably CP1 base) are left owned by root. Dockerfile should be changed to chown to mars.

[2018-04-23 14:16] schmerl commented on #60
@pooyanjamshidi
4. When typing `roslaunch cp1_base cp1-base-test.launch` I get an error:
[code]

This might be related to 1. But, in any case it seems that the scripts to set up the path should be added to ~/.bashrc like in the other Dockerfiles.

[2018-04-23 19:02] schmerl opened #62 "Error in kill_launch"
[code]

[2018-04-24 03:01] pooyanjamshidi commented on #60
@schmerl all errors/suggestions are fixed, so I'm closing this, reopen if needed.

[2018-04-24 03:01] #60 closed, assigned to pooyanjamshidi

[2018-04-25 11:36] schmerl opened #63 "Configuration error is reported incorrectly"
After killing amcl and then aruco, a configuration error is still issued (becasue of laserscanNodelet?)

[2018-04-25 11:48] schmerl opened #64 "Log4J properties in Rainbow"
Make sure that Rainbow log4j.properties is configured to log to a file

[2018-04-25 15:22] javier-camara opened #65 "Implement full charge instruction"
The execution of the IG should be able to determine on its own the amount of time that it needs to recharge to get a full battery (the planner cannot tell it the amount of time that this will take as a parameter to the instruction). The set_charge should go until the battery is fully charged.

[2018-04-25 15:24] schmerl commented on #65
The issue is that when we are generating the instructions we can not calculate the amount of time to do the charge, and so the charge instruction in the instruction interpreter (in cp1_instructions.py) should somehow wait until the battery is fully charged before returning.

[2018-04-25 16:04] pooyanjamshidi commented on #65
Added fully charge [feature](https://github.com/cmu-mars/ig-action-server-p15/blob/759b5a8f4ca19f1a78df0a1efe251a0b696bfe0f/ig_action_server/src/cp1_instructions.py#L50). @javier-camara @schmerl please check. Note that it assumes the [configuration](https://github.com/cmu-mars/cp1_controllers/blob/master/cp1/plugins_config.json) options that are passed between backend and rainbow/planner resides i

[2018-04-25 16:07] #65 closed, assigned to pooyanjamshidi

[2018-04-25 16:18] javier-camara commented on #65
Could you share a link to the actual json configuration file in the repo? I cannot find plugins_config.json

[2018-04-25 16:20] pooyanjamshidi commented on #65
[Here](https://github.com/cmu-mars/cp1_controllers/blob/master/cp1/plugins_config.json).

[2018-04-25 16:25] pooyanjamshidi commented on #65
Just out of the curiosity, in phase 1, the time for the charge was determined by the planner, no? in general we may want to have the case where just a bit of more charge is enough to finish the task/mission as we discussed at some point @javier-camara. But anyway, we have this full charge capability, but for future enhancement, we may want to think about that.

[2018-04-25 18:15] #62 closed, assigned to schmerl

[2018-04-25 18:16] #59 closed, assigned to schmerl, javier-camara

[2018-04-25 20:19] javier-camara commented on #65
The charge time is not imposed by the planner, but the planner quantifies how much time it will take to charge as a reward. Whenever the robot has the opportunity to charge in the plan, the time will be computed based on the charge that is missing from the battery, and the charge rate. However, this information cannot be extracted from the planner in a straightforward way.

[2018-04-26 15:46] ivoysey opened #66 "internal status to notify the TA of plan, config, and sensors"
currently we always send `[]` in these three fields to Lincoln

[2018-04-26 15:47] ivoysey opened #67 "done & status messages conflate adapting and adapted"
right now we only report the number of times we adapt, not the number of times we *try* to adapt. this could be interesting; we can get it out of the log files that are being written and it's not part of the evaluation criteria so maybe it doesn't belong in `/done`, but we may be able to change something here to make our own forensics easier.

[2018-04-26 17:13] ivoysey commented on #52
@ChrisTimperley is this still the plan? We need to notify Lincoln somehow of how we expect to get this information from them. I suspect that the README.md contents for CP2 are incorrect at least in the final compose; could you edit that document to make this clear and then close both issues?

[2018-04-26 17:14] ivoysey commented on #48
This has been done and is either integrated into the TA or in the process of being integrated into the TA.

[2018-04-26 17:14] #48 closed, assigned to schmerl, pooyanjamshidi

[2018-04-26 17:14] ivoysey commented on #54
I think this is more or less done, modulo a question I just asked @schmerl over slack, so I'm going to close this.

[2018-04-26 17:14] #54 closed, assigned to schmerl

[2018-04-26 17:16] ivoysey commented on #46
@schmerl is this done?

[2018-04-26 17:17] ivoysey commented on #64
@schmerl what milestone does this belong to?

[2018-04-26 17:17] ivoysey commented on #58
@schmerl what milestone does this belong to?

[2018-04-26 17:17] ivoysey commented on #56
@schmerl what milestone does this belong to?

[2018-04-26 18:01] schmerl commented on #66
config and sensors done
at the start of the test (i.e. after /start) this should be retrieved from map_server (which I think it currently has APIs for).
In adaptive case, this will be updated once a new plan arrives -- probably post RR2

[2018-04-27 10:22] schmerl opened #68 "Tag P2RR2 Release branches of all repositories"
We should tag the repositories that we are using for RR2 release as "release/P2RR2". I am not sure how militant they are going to be about which versions we can "bug fix" during the integration week, and we should have a way to get back to what we released in three weeks time.

[2018-04-27 10:25] schmerl opened #69 "Visual marker obstacle avoidance"
One way to simulate visual obstacle avoidance in ROS is to use a map that has the obstacles in it. This has a potential research advantage of being an architecture level change. Investigate and implement this approach, both in ROS and the planner.

[2018-04-27 10:26] schmerl opened #70 "Implement kill of laserscannodelet"
Currently, the planner tells us to kill the laserscannodelet, but we are ignornig this. This could be done by killing and restarting cp3-kinect.launch.

[2018-04-27 10:27] schmerl opened #71 "Simulation time bug in TA"
It looks like the TA is currently giving simulation time in things that look like epochs rather than the time from simulation start. This could be a bug, and will affect evaluation.

[2018-04-27 10:33] schmerl opened #72 "Ensure that ~/test-ready is implemented for all challenge problems"
To test the TA, cp3 implemented a scheme where if the parameter passed into the TA on launch does not connect to the TH, the TA will try to open it as a file emulatating a response from a fictional TH. This uncovered many syntactic and module related errors in the TA for CP3, and would be good to do for the other CPs.

[2018-04-27 10:35] schmerl opened #73 "Implement CollisionData collector"

[2018-04-27 10:38] schmerl opened #74 "Work out utility functions"

[2018-04-27 14:27] ivoysey commented on #71
Fascinating! When in the sequence diagram are you seeing this? The only way the TA ever reports simtime is through `rospy.Time.now().secs`. I have a worry that if you ask rospy for the time too early (before the simulation gets started) it will say something bananas and then suddenly say something reasonable; is that what you're seeing possibly?

[2018-04-27 14:28] ivoysey commented on #72
@schmerl I agree that this would be good; it's lower priority for me today under getting the CP1 TA rolled out at all, but it's the obvious next step. What is the "RR2 IW" milestone you assigned this to?

[2018-04-27 14:46] ivoysey commented on #68
I'm currently planning to be fairly liberal about fixing things pre-integration week; that seemed to serve us well and not step on any toes last time, in that we ended up integrating before our technical time slot and LL was very happy about that. I think they just need to know what "The Delivery™" was, and that there needs to be one, but that doesn't mean we can't have branches ahead of master th

[2018-04-27 14:49] schmerl commented on #71
I am also seeing it in replies to /start and /perturb/nodefail

[2018-04-27 14:51] ivoysey commented on #71
Bizarre! Must be a change in the ros API from Phase 1.

[2018-04-27 14:55] ivoysey commented on #68
Also, this is probably related to #61

[2018-04-27 16:16] schmerl commented on #71
I don't think it is, because I am getting the right simtime in Rainbow (well, at least things that look like 100s of seconds and not epochs!)

[2018-04-27 20:24] ivoysey commented on #52
I believe this is done.

[2018-04-27 20:24] #52 closed, assigned to nobody

[2018-04-28 00:12] #68 closed, assigned to ChrisTimperley, ivoysey, schmerl, pooyanjamshidi

[2018-04-28 00:12] ivoysey commented on #61
@pooyanjamshidi please close this when you've tagged all your repos

[2018-04-28 00:14] ivoysey commented on #30
I'm moving this to RR2 IW.

[2018-04-28 00:14] ivoysey commented on #46
I'm moving this to RR2 IW.

[2018-04-28 00:14] ivoysey commented on #38
I'm moving this to RR2 IW.

[2018-04-28 00:15] ivoysey commented on #44
I'm moving this to RR2 IW.

[2018-04-28 00:15] ivoysey commented on #64
I'm moving this to RR2 IW.

[2018-04-28 00:15] ivoysey commented on #66
I'm moving this to RR2 IW.

[2018-04-28 02:13] #61 closed, assigned to ChrisTimperley, ivoysey, schmerl, pooyanjamshidi

[2018-04-28 02:15] pooyanjamshidi commented on #38
This is already done, so I'm closing this.

[2018-04-28 02:15] #38 closed, assigned to schmerl

[2018-04-28 02:24] schmerl commented on #38
Hasn't been tested yet so let's reopen.
On Fri, Apr 27, 2018 at 10:15 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-04-28 17:34] pooyanjamshidi opened #75 "Minor issues in cmu-mars/gazebo cmu-mars/gazebo or cmu-mars/base"
I see some minor issues probably inherited from `cmu-mars/base` docker image that we should probably have a look, these do not cause any docker build failure but still better to fix.

[code]

[2018-04-30 13:59] schmerl opened #76 "In deployment, ig-interpreter does not get new instructions"
In the docker installation only, when Rainbow comes to issue a new instruction, the ig-interpreter gets the cancelation but it does not get the new set of instructions. This has been tested and shown to work outside docker in many instances (with the ta, without the ta, with different instructions). It just does not work in docker.

The following error appears in both the working and non-working c

[2018-04-30 17:08] schmerl commented on #46
This is done for CP3. For Cp1, the instructions have been written but not tested.

[2018-04-30 17:08] #64 closed, assigned to nobody

[2018-04-30 19:44] schmerl commented on #49
Is the intent here that the config, path, and sensor informattion are sent as a status message or with observe?

[2018-04-30 19:45] schmerl commented on #44
This is related to: #72

[2018-05-02 18:45] pooyanjamshidi opened #77 "Sharing a configuration file between CP1 backend and Planner"
We decide to share a number of configuration options between CP1 backend and planner. In the future, we may need to extend this configuration file with more options, but for now, the options are only related to the battery.

[code]

[2018-05-02 18:46] pooyanjamshidi commented on #77
@schmerl @javier-camara I just added this for having these notes for documentation purposes, but we can close it right away.

[2018-05-02 23:39] schmerl commented on #77
Let's not close it into it is done and tested.

On Wed, May 2, 2018 at 2:47 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-04 19:02] pooyanjamshidi opened #78 "Having different reconfiguration time delay for planning"
We may want to have a different time delay for each reconfiguration of the robot. I think this makes sense both for `CP1` and `CP3`. These delays are adaptation costs. We need to discuss and think through these further in a meeting @schmerl @javier-camara. We may want to think whether this may change the interface with LL or if not how that may change the quality of adaptation.

[2018-05-04 22:10] bisc commented on #25
Brainstormed with Bradley how to plug the reconfiguration fwk into the brass phase 2 implementation

Two big changes to implement:

1. Restarting old nodes (doesn't work because of different namespaces) using the exact same command that created a node
             - need to pass the name (argv[0]) and the arguments (argv[1+]) to SCN
                    need a new service for SCN to have when a nod

[2018-05-07 13:55] schmerl opened #79 "IG Should set NUC Utilization Param"
The IG interpreter when reconfiguring for CP3 should set the right cpu utilization.

[2018-05-08 17:10] schmerl opened #80 "CP1 battery starts depleting before experiment test"
In Cp1, the robot starts consuming battery before the experiment has started.

[2018-05-08 20:49] schmerl opened #81 "Rainbow does not start with the initial configuation"
I don't think rainbow gets the configuration of the first task. This is probably because the system announces the configuration before rainbow starts. This needs to be coordinated somehow.

This would lead to an error where the battery analyzer is not going to say there is no power if the battery is too low in the first task.

[2018-05-08 21:32] pooyanjamshidi commented on #81
@schmerl by the configuration of the task, you mean configuration of the robot in the first task? I have a configuration option for that our config manager backend.

[2018-05-08 22:11] schmerl commented on #81
The problem is that if you are announcing the config to a topic, that
announcement happens before Rainbow has started and so it is not known
until it is changed again. I think this is what is happening, but need to
investigate it further.

On Tue, May 8, 2018 at 5:32 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-08 22:44] pooyanjamshidi commented on #81
No, it's not topic based, it simply a service that you can call anytime and ask what is the configuration of the robot at this very exact moment. I think we discussed this before, but anyway, let me know if I need to change any part of the code, it is all documented int he config manager repo.

[2018-05-08 23:05] schmerl commented on #81
OK. I'll check to see why the battery analyzer is running only after the
second instruction.

On Tue, May 8, 2018 at 6:44 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-09 18:20] ivoysey commented on #72
@ChrisTimperley how are you faking a TH and / or doing testing? Is this relevant to you? Bradley's solution was to include a file containing a json object from the host OS for a particular ready message and to read that if you can't get to the TH.

[2018-05-10 21:20] schmerl commented on #79
Done, but needs testing.

[2018-05-10 21:22] schmerl commented on #73
I have implemented this in `cp3.py` with an example in `cli.py`. The following lines give examples of how to use this:

[code]
After the mission, the bump_events will contain the data. This needs to be turned into `CollisionData`.

[2018-05-13 16:21] schmerl commented on #81
This is a test of notifications.

[2018-05-13 18:53] pooyanjamshidi commented on #81
@schmerl is this now resolved? what's the status?

[2018-05-13 19:00] pooyanjamshidi opened #82 "Rainbow connection error"
Again I see the rainbow connection issue. Note I ran this in docker environment in Ubuntu basically the same environment that we have tested before last week and it worked at that time, but again I started to see this again...
[rainbow-connection.log](https://github.com/cmu-mars/issues/files/1998801/rainbow-connection.log)

[2018-05-13 20:27] schmerl commented on #82
Please also attach the rainbow.log. This is probably a left over from the
issue yesterday of me having to check in rainbow_interface. I suspect it is
waiting for a debugger to attach. I'm not at my computer again until
tomorrow, so I will deal with it then.

On Sun, May 13, 2018 at 3:01 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-13 20:38] pooyanjamshidi commented on #82
@schmerl Rainbow log here:
[code]

[2018-05-13 20:51] pooyanjamshidi commented on #82
@schmerl I fixed this!

[2018-05-13 20:51] #82 closed, assigned to schmerl, pooyanjamshidi

[2018-05-13 21:18] pooyanjamshidi opened #83 "No perturbations with multiple missions with repetitions throws an exception."
This is going to be frustrating, @schmerl I thought these exceptions are fixed, we previously discussed these exceptions in the rainbow log, but I see them again, here is the summary of my run, I don't think the `NullException` should be related to the docker networking thing anyway.

**Description**: This was a C case test with the mission specified in [test-ready-c.json](https://github.com/cmu-m

[2018-05-14 12:17] schmerl commented on #83
You see this exception on the first task?

(Yes, frustrating - welcome to my world. Did 1.a and 1.b work?)

On Sun, May 13, 2018 at 5:18 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-14 12:39] pooyanjamshidi commented on #83
@schmerl Re first task, yes, everything is clear in the command line logs, that's why I sent it. Otherwise, I only would have sent the rainbow log.

As far as we see the exception, so none of them I assume would work.

[2018-05-14 13:10] schmerl commented on #83
Pooyan:

There is a reason that we talked about doing the tests in the sequence that
you put in the issue and we discussed extensively yesterday. So, please
answer the following question, and the following question only, and only
answer "yes" or "no":

Did you try 1.a and 1.b?

Bradley.

On Mon, May 14, 2018 at 8:39 AM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-14 14:00] pooyanjamshidi commented on #83
@schmerl Yes, I did. Here are the logs:
I did not see exceptions in these two cases and the mission was successfully finished in both 1a and 1b scenarios. So I presume the `IGWaypointAnalyzer` will throw an exception in task repetition cases, but since in `cp1` we have those kinds of missions, this needs to be fixed in Rainbow, probably this is not an issue in `cp3`.

[commnad_line_c1a.log](https:

[2018-05-14 14:09] schmerl commented on #83
OK. Good. In the template for this, you have omitted the curl command(s) for reproducing this.

[2018-05-14 14:20] pooyanjamshidi commented on #83
@schmerl there is now.

[2018-05-14 14:26] pooyanjamshidi commented on #83
Also corresponding [mission specification](https://github.mit.edu/brass/cmu-robotics/tree/development/cp1/ta/missions).

[2018-05-14 14:56] schmerl commented on #83
Stop doing this. If you run another mission and you see another error then
create another issue. Do not cram multiple tests in different conditions in
the same issue. We discussed this yesterday.

On Mon, May 14, 2018 at 10:26 AM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-14 15:03] schmerl commented on #83
Rebuild cp1_rb with no cache. I think the problem is fixed, and then of course the cp1 container.

I started with your test-ready-c.json, and sent the command: `curl -H "Content-Type:application/json" -X POST -d '{}' http://localhost:8080/start`

I now get no exceptions, and the last lines in the log are:

[code]
I think this means success, right?

Here is the log: [repetitions-no-perturbations-co

[2018-05-14 15:07] pooyanjamshidi commented on #83
@schmerl great, yes, it is a success, thanks. I will go ahead with the rest of scenarios and will update you as I go along.

[2018-05-14 15:12] schmerl commented on #83
Please verify on your deployment before going to the other cases.

On Mon, May 14, 2018 at 11:07 AM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-14 15:44] pooyanjamshidi commented on #80
This is now fixed, right before the mission starts, we set the battery to its full charge, see https://github.mit.edu/brass/cmu-robotics/commit/a02974d4fb5ac1e5effa4fce77e7f5c73743c2b6

[2018-05-14 15:44] #80 closed, assigned to pooyanjamshidi

[2018-05-14 15:48] pooyanjamshidi commented on #83
Verified.
[code]

[2018-05-14 17:40] pooyanjamshidi opened #84 "Obstacle perturbation with multiple missions with repetitions throws an exception"
@schmerl would you please confirm whether this is related to the networking issues in Docker? if so I can move on.

**Description**: This was a C case test with the mission specified in [test-ready-c1c.json](https://github.mit.edu/brass/cmu-robotics/blob/development/cp1/ta/missions/test-ready-c1c.json)
**Issue**: I observed an exception that might be related to the IG networking issue in Docker.
*

[2018-05-14 18:16] schmerl commented on #83
Great.

[2018-05-14 18:16] #83 closed, assigned to schmerl, pooyanjamshidi

[2018-05-14 18:39] pooyanjamshidi opened #85 "Rainbow didn't issue a battery charge plan for battery set perturbation"
The rainbow didn't issue a plan for recharge.

**Description**: This was a C case test with the mission specified in [test-ready-c1c.json](https://github.mit.edu/brass/cmu-robotics/blob/development/cp1/ta/missions/test-ready-c1c.json)
**Issue**: I expected to see a plan for going to charging station after we set the battery low
**Start conditions**: This is the 3a case where we set the battery to

[2018-05-14 18:41] pooyanjamshidi commented on #85
@schmerl would you please have a look at the log? maybe I could not find the plan in the log, but as far as I saw in the command line there was no plan for going to charge station.

[2018-05-14 19:04] pooyanjamshidi commented on #85
I also tested with higher battery perturbations and observed the same: no adaptation.
[code]

[2018-05-14 19:13] javier-camara commented on #85
I am trying to look into this, but I am missing some information. In the test you refer to, there are several locations that the robot has to visit. Which one is failing?
Concretely, I would need to know start and end location for the specific task (not the overall mission) where this is failing, as well as the level of battery that the robot has at the start of the task.

[2018-05-14 19:19] ivoysey opened #86 "include ps output in done and error and right after starting"
make new directory somewhere and run these

[2018-05-14 19:36] schmerl commented on #85
You couldn't find the plan. There are two interesting things in the log that I can see:

[code]
Indicates that the battery charge was deemed to be too low to complete the mission.

[code]

Indicates that the problem is recorded properly, meaning that the planner should now know there is a problem.
There's a whole bunch of output from prism, culminating in it producing the plan:

[code]

@javier-ca

[2018-05-14 19:36] pooyanjamshidi commented on #85
@javier-camara here I also included the command line logs:
[rainbow_c3a1.log](https://github.com/cmu-mars/issues/files/2002256/rainbow_c3a1.log)
[commnad_line_c3a.log](https://github.com/cmu-mars/issues/files/2002257/commnad_line_c3a.log)

So as you can see, in this case, it finished the `l4->l2` task and it is heading to `l5`, but this fails, also the battery is around `1200mwh` at the start of `

[2018-05-14 19:38] schmerl commented on #71
I'm not seeing correct sim time stuff at all in testing currently. It could be the case that the first time you call rospy.Time* sets the mode (real or simulation) for all subsequent calls. Thus, if you call rospy.Time before starting ros (or maybe even before starting gazebo), then it will default to wall time for perpetuity in the TA. Coordinating this could get messy.

[2018-05-14 19:39] pooyanjamshidi commented on #85
Also for your information, the battery capacity is `32560.0mwh` and the perturbation happened right at the beginning, at `"sim-time": 248`.

[2018-05-14 19:41] ivoysey commented on #85
sim-time 248 isn't the beginning -- that's 248 simulated seconds into the
experiment.

On Mon, May 14, 2018 at 3:39 PM, Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-14 19:44] pooyanjamshidi commented on #85
it is just 1 second after the first `curl` that started the mission.

[2018-05-14 19:45] ivoysey commented on #85
That's not relevant; there's no real relationship between wall time and sim time, and sim time is the one that matters. This maybe related to https://github.com/cmu-mars/issues/issues/71

[2018-05-14 19:48] pooyanjamshidi commented on #85
@ivoysey I don't get how your comment is related to this issue? can you clarify how does it help? I just provided @javier-camara information that he may/may not need.

[2018-05-14 20:09] schmerl commented on #85
Time is a real issue here (by which I mean for us and BRASS in general). 248 is *not* 248 (simulated) seconds (ss) after the robot started its mission, it's 248ss after Gazebo started. So, if I understand correctly, you did "start" and then "straight afterward" you did "perturb". So start might have happened at 246ss and perturb at 248ss.

[2018-05-14 20:48] javier-camara commented on #85
Independently of the timing issues, this situation has lead me to discover a bug in the planning model generation. There is a corner case that wasn't being considered: the robot would arrive to a charging station with very little battery, and, in the way in which the guards are structured, the recharging tactic won't happen under those conditions. I'm currently working on a fix.

[2018-05-14 20:56] pooyanjamshidi commented on #85
@schmerl time is important not only in BRASS but for the human being, for the universe, for etc, but how time is relevant for solving this very specific issue is a mystery for me, probably my fault giving info that was not necessary ;)

[2018-05-14 20:56] pooyanjamshidi commented on #84
@schmerl ?

[2018-05-14 22:44] pooyanjamshidi commented on #84
@schmerl After your fix, more exceptions appeared:
[rainbow_c2a1.log](https://github.com/cmu-mars/issues/files/2002829/rainbow_c2a1.log)
[commnad_line_c2a1.log](https://github.com/cmu-mars/issues/files/2002830/commnad_line_c2a1.log)

[2018-05-15 01:47] pooyanjamshidi opened #87 "Error in IG server"
@bradley, this error happened after your changes for #84.

[code]

[2018-05-15 01:53] pooyanjamshidi commented on #84
@schmerl as per our email, here are the logs that happened again after I rebuilt docker images all the way down to up, same exceptions and more errors like #87.
[rainbow_c2a2.log](https://github.com/cmu-mars/issues/files/2003169/rainbow_c2a2.log)
[commnad_line_c2a2.log](https://github.com/cmu-mars/issues/files/2003170/commnad_line_c2a2.log)

[2018-05-15 09:51] schmerl commented on #87
This is not an error. In cp1, cp3 doesn't exist; in cp3, cp1 doesn't exist. Yet we have an ig interpreter that needs to manage both. I've updated the tracing to say "Not an error".

[2018-05-15 09:59] schmerl opened #88 "Python3 causing problems with ROS"
Using Python3 for the TA means that if you want to do anything with ROS (e.g., listen for transforms, and perhaps even the sim time stuff), it either doesn't work or may not work. ROS is built for python2.7. How difficult would it be to change the TA to also use python2?

[2018-05-15 10:02] schmerl commented on #88
See for example: https://github.com/ros/geometry2/issues/259. This means that the TA can't wait for the robot position to be set by the localization algorithm because it needs tf to look for a transform.

[2018-05-15 11:20] javier-camara commented on #85
I have committed some code that should fix this issue, but let's wait and close the issue once we have tested the fix.

[2018-05-15 12:02] pooyanjamshidi commented on #88
@schmerl I needed to change and find several workarounds regarding this in `cp1` backend to make it compatible with python3, I tried to convert ta to python2, but somehow I gave up...

[2018-05-15 12:07] pooyanjamshidi commented on #87
`ImportError` is not an error?! PS. the problem still exists...

[2018-05-15 12:11] pooyanjamshidi opened #89 "Exceptions in Rainbow"
After many back and forth and rebuilt, the `NullPointerException` still existing when I start the mission and even before issuing any perturbations.
[code]

and this:

[code]

[2018-05-15 12:49] schmerl commented on #89
@pooyan can you look at the amcl_pose/pose topic and also see if the rainbow log says something like "current pose is null" or "current pose is not at a location on the map". Let's deal with the IG waypoint exceptions and not worry about the battery ones for now.

[2018-05-15 12:53] schmerl commented on #87
It is not an error. Read the code.

[2018-05-15 12:53] #87 closed, assigned to schmerl

[2018-05-15 12:54] schmerl commented on #87
Import error is not an error. Read the code

On Tue, May 15, 2018 at 8:07 AM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-15 12:55] pooyanjamshidi commented on #87
So I should ignore it?

[2018-05-15 13:03] schmerl commented on #87
Yes. You should ignore it. It even has a trace message that says this is
not an error.

On Tue, May 15, 2018 at 8:55 AM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-15 13:59] ivoysey commented on #88
@schmerl Honestly I'm not that sure what the exact differences are between py2 and py3. I didn't make the choice for the TA to be py3 for any grand principled reasons, but rather just because that's what swagger codegen happened to output the first time I ran it. So I'm not opposed to changing it to py2, but I have no real idea what that will entail.

[2018-05-15 14:12] pooyanjamshidi commented on #89
@schmerl here is the /amcl_pose topic:

[code]

[2018-05-15 14:16] pooyanjamshidi commented on #89
and `rainbow.log`:
[rainbow_c2a3.log](https://github.com/cmu-mars/issues/files/2005332/rainbow_c2a3.log)

[2018-05-15 14:44] schmerl commented on #88
Can you take a look? I think at least the module system changed between two
and three. Spend a couple of hours scoping out the feasibility. Otherwise,
you'll have tow work out how to interact with ROS to do some of the things
needed in the TA.

On Tue, May 15, 2018 at 9:59 AM Ian Voysey <notifications@github.com> wrote:

[2018-05-15 14:46] ivoysey commented on #88
Yeah, I'll see what I can figure out. Based on that link to an issue you included, it's probably easier to downgrade to py2 and deal with the module junk. Morally, I suspect we're really writing py2 anyway and just choosing to run it as py3.

@ChrisTimperley does this effect CP2 at all? I suspect not but you'd know better.

[2018-05-15 14:51] ChrisTimperley commented on #88
@ivoysey it doesn't affect CP2. Also, there are a few helper packages that are designed to ease the transition from Python 2.7 to 3.x -- you might be able to use those to reduce the number of changes that you need to make. A number of the most useful ones are found here: https://docs.python.org/2/library/__future__.html

[2018-05-15 14:51] ivoysey commented on #88
@ChrisTimperley it's the other way that we want to go, though: we have Python 3.x code but big parts of ROS seem to only work with 2.x

[2018-05-15 14:54] ChrisTimperley commented on #88
@ivoysey, yep, I understand, but the changes that you want to make are almost the same. (Sorry for not being clear.) You just need to add the appropriate import statements to your Python 3 code to ensure that it runs on Python 2: https://docs.python.org/3/howto/pyporting.html.

For example:

[code]

[2018-05-15 15:16] schmerl commented on #88
@ivoysey could you try placing these at the top of cp3.py and then commenting out the import tf and the commented code in wait_for_odom and see if you can start cp3?

[2018-05-15 16:09] pooyanjamshidi commented on #89
@schmerl More exceptions:
[code]

[2018-05-15 16:13] pooyanjamshidi commented on #85
@schmerl I would like to test this, would you please fix the issue in #89 to allow me to run this charging plan test?

[2018-05-15 16:27] schmerl commented on #89
This is a different issue. Let's not say that all exceptions are the same
bug.

On Tue, May 15, 2018 at 12:09 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-15 16:53] pooyanjamshidi opened #90 "Exceptions in Rainbow/Planner"
@javier-camara I get this exceptions when running `cp1`:
[code]

[2018-05-15 17:03] javier-camara commented on #90
This was related to a change that I had to do to run things in my machine locally, and forgot to undo before pushing (related to the path of the configuration json file). I believe I have fixed the issue now. Can you try again after updating?

[2018-05-15 17:20] pooyanjamshidi commented on #90
@javier-camara  Not fixed yet, see below, it tries to read from your dropbox ;)

[code]

[2018-05-15 17:43] javier-camara commented on #90
Have you successfully updated the code? It should not be doing that anymore. Can you check that the recompiled version you have has the following method code in simpleconfigurationstore?

	public SimpleConfigurationStore(Properties props) {
		m_source = ConfigHelper.convertToAbsolute(props.getProperty(PropertiesSimpleConfigurationStore.CONFIGURATIONS_SOURCE_PROPKEY));
	//	m_source = "/Users/jcamar

[2018-05-15 17:48] pooyanjamshidi commented on #90
@javier-camara I rebuilt rainbow docker:
[code]
So it should have the latest version of the code you pushed. @schmerl can confirm that?

[2018-05-15 17:51] pooyanjamshidi commented on #90
I think @schmerl put the binaries somewhere in the able website, so things need to move there I guess.

[2018-05-15 19:15] schmerl commented on #90
@pooyanjamshidi  Is this the right issue? Isn't this to do with the battery perturbation issue?

In any case, what makes you say that the planner doesn't come up with a plan that includes charging? I see:

[code]

There are two things going on here, and I think you quit prematurely:

1. Does the IG get executed? It is outside of Rainbow and so is not affected by exceptions in Rainbow.
2. Rainbow i

[2018-05-15 19:17] schmerl commented on #85
@pooyanjamshidi  wrote in #89:

@javier-camara I see NullPointerException in EnergyConsumptionPredictor in the command-line log, and the planner apparently didn't come with a plan to go to charging, here are the logs. Can you look into this? I'm in my office if you want to go throughout together.

[rainbow_c2a4.log](https://github.com/cmu-mars/issues/files/2006379/rainbow_c2a4.log)
[commnad_line_c

[2018-05-15 19:19] schmerl commented on #90
@pooyanjamshidi As I said, let's not pollute this issue with every exception that may occur. The exceptions listed above have gone, yes? So this issue can be closed.

[2018-05-15 19:19] schmerl commented on #85
@pooyanjamshidi  Is this the right issue? Isn't this to do with the battery perturbation issue?

In any case, what makes you say that the planner doesn't come up with a plan that includes charging? I see:

[code]

There are two things going on here, and I think you quit prematurely:

1. Does the IG get executed? It is outside of Rainbow and so is not affected by exceptions in Rainbow.
2. Rainbow i

[2018-05-15 19:20] #89 closed, assigned to schmerl, pooyanjamshidi

[2018-05-15 19:21] schmerl commented on #90
Moved discussion to the appropriate issue #85 (or, at least, if not this issue then another issue that helps us reproduce it).

[2018-05-15 19:32] ivoysey commented on #71
This may well be related to #88

[2018-05-15 19:42] schmerl commented on #85
@pooyanjamshidi @javier-camara Let's the three of us try to meet tomorrow. There are some assumptions in the IGWaypointAnalyzer that may be invalidated because of the time taken to come up with a plan.

[2018-05-15 19:44] schmerl opened #91 "TA needs to parse the new plan"
When Rainbow issues a new plan (in CP3) it will send an internal/status with the following JSON:

[code]

This needs implemented.

[2018-05-15 19:46] pooyanjamshidi commented on #85
@schmerl right, I missed the charge() when I searched through the log.

[2018-05-15 19:50] pooyanjamshidi commented on #90
@schmerl let's not create an issue per exceptions ;) but yeah this issue can be closed now.

[2018-05-15 20:32] ChrisTimperley commented on #72
@ivoysey I've written a fairly simple client/server in Python using requests and Flask that implements all of the functionalities of the TH. (It's more of a reference implementation than a mock implementation.)

[2018-05-15 21:36] schmerl opened #92 "mprt should be changed to mrpt in configruations"
See latest swagger file.

[2018-05-15 21:42] schmerl commented on #92
This also needs to be changed in the TA - it refers to mpr-xxx.launch and should be mrpt-xxx.launch.

[2018-05-16 11:33] pooyanjamshidi commented on #85
@schmerl In the last log, we do not have any exception regarding `IGWaypointAnalyzer`, however, the exception is related to `EnergyConsumptionPredictor`. We will discuss both in the meeting today, but wondering can you please fix the later then I can run few tests before meeting?

[2018-05-16 13:01] schmerl commented on #85
The latter is related to the former.

On Wed, May 16, 2018 at 7:33 AM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-16 14:52] schmerl commented on #85
OK, I've checked in a build that tries to do some more tracing and maybe will fix the problem. @pooyanjamshidi Can you give it a try before we meet and attach the logs? Both rainbow and console. Rebuild cp1_rb.

[2018-05-16 14:58] pooyanjamshidi opened #93 "Our docker images are public"
@ChrisTimperley Should we be concerned about that our docker images are accessible to the world?

[2018-05-16 15:08] schmerl commented on #93
So are our GitHub repos (except those at MIT).

Personally, I'm ok with this.

[2018-05-16 15:09] ChrisTimperley commented on #93
I'm fine with them being public.

[2018-05-16 15:18] pooyanjamshidi commented on #85
@schmerl :
[rainbow_c2a5.log](https://github.com/cmu-mars/issues/files/2009697/rainbow_c2a5.log)
[commnad_line_c2a5.log](https://github.com/cmu-mars/issues/files/2009698/commnad_line_c2a5.log)

[2018-05-16 15:31] schmerl commented on #85
So this is the tracing that I am getting:

[code]
I suspect that the problem is that by the time the planner comes up with a plan, the robot has moved away from where it was when the plan started. This violates some assumptions within the models of rainbow (@bisc !) and so some exceptions are thrown.

One workaround is to make the energy consumer robust to this. Another is what I have done. Anothe

[2018-05-16 15:43] schmerl commented on #85
@pooyanjamshidi : Some more robustness for the energy predictor and less waiting in the IG analyzer has been implemented. Rebuild cp1_rb.

[2018-05-16 16:09] ivoysey commented on #92
@schmerl Got it; I'll do this in just a second.

[2018-05-16 16:53] ivoysey commented on #93
I believe, but am not 100% positive, that we checked with more senior folks when we set up this github org and that the reasoning would transfer over to a dockerhub org. We could check again, or just close this issue.

[2018-05-16 17:11] ivoysey commented on #72
OK -- I'm going to close this issue, then, since it sounds like each CP has a way to run sans LL-written TH.

[2018-05-16 17:11] #72 closed, assigned to ivoysey

[2018-05-16 17:37] ivoysey commented on #92
I believe this is fixed, per https://github.mit.edu/brass/cmu-robotics/commit/0602e3e40667e3c8b8e3685745e5316d1e6eaa78

[2018-05-16 17:37] #92 closed, assigned to ivoysey

[2018-05-16 17:54] pooyanjamshidi commented on #84
@schmerl logs:
[commnad_line_c2a6.log](https://github.com/cmu-mars/issues/files/2010271/commnad_line_c2a6.log)
[rainbow_c2a6.log](https://github.com/cmu-mars/issues/files/2010272/rainbow_c2a6.log)

[2018-05-16 18:40] pooyanjamshidi opened #94 "Including objective weights in config file for flexible experimentations"
@javier-camara as we discussed, I revised the config file a bit, would you please accommodate this format? Besides, I'm open if you have suggestions. Let's assume you read this config file from this path, please note the name change: `~/cp1/config.json`.

[code]

[2018-05-16 18:42] ivoysey commented on #94
@pooyanjamshidi  I'm confused. Are you asking me to make a change, too? What do you mean by config file? There is no config file that I know of -- do you mean the response from `/ready/`? That snippet mentions utility for energy and timliness, which is a CP3 feature not a CP1 feature.

[2018-05-16 19:23] pooyanjamshidi commented on #94
@ivoysey no, these config options are for backend stuff, basically shared between cp1 backend and planner, it doesn't affect TA.

[2018-05-16 19:37] schmerl commented on #84
@pooyan This now seems to mostly work. Attached is the command line log (I forgot to get the rainbow log). Can you confirm that the exception has disappeared and the new IG gets done?
[repetitions-no-perturbations-console.log](https://github.com/cmu-mars/issues/files/2010572/repetitions-no-perturbations-console.log)

[2018-05-16 19:37] ivoysey commented on #94
@pooyanjamshidi ok, got it. thanks! :)

[2018-05-16 19:43] schmerl opened #95 "IG Intepreter error message cleanup"
When the IG server starts, exceptions are displayed because importing cp1 stuff fails in cp3 and vice versa (brass_gazebo_plugins and the equivalent from cp1 do not exist outside their deployments). This looks like an exception being printed. This should be cleaned up so that only an exception we don't know about is printed.

[2018-05-16 20:00] pooyanjamshidi commented on #94
@schmerl would you please change the path of this config file from `~/cp1/plugins_config.json` to `~/cp1/config.json`? I guess you read this in rainbow and pass it to planner

[2018-05-16 20:09] schmerl commented on #95
For CP3 it is: `No module named brass_gazebo_config_manager.srv`
For CP1 it is: `No module named brass_gazebo_plugins.srv`

[2018-05-16 21:25] schmerl commented on #94
Should be done now.

[2018-05-16 21:50] pooyanjamshidi commented on #94
@schmerl I get this exception that I think is related to this?
[code]

[2018-05-16 21:56] schmerl commented on #94
This is the line it crashes on:

[code]
It seems that the file does not contain any `configurations`. Did the format of the file change? Does @javier-camara  know it changed?

[2018-05-16 21:58] pooyanjamshidi commented on #94
@schmerl please see my comment in the rainbow repo.

[2018-05-16 22:18] javier-camara commented on #94
I am a bit confused. This issue is about the small json config file to determine the battery capacity, charge rate and the preferences of the planner.

The exception you are experiencing is when we try to read the configuration list json file for the planner, which is an entirely different thing. The two main reasons why this might be failing are: (i) the file has been moved, or (ii) the format of

[2018-05-16 22:32] schmerl commented on #94
That was my fault. I thought they were the same and so changed its name in
the wrong place.

On Wed, May 16, 2018 at 6:18 PM Javier Camara <notifications@github.com>
wrote:

[2018-05-16 22:33] pooyanjamshidi opened #96 "Making planner more intelligent to remember where the obstacle was"
So that in cases that the obstacle where the robot does not go to a corridor that at the end of it sees the obstacle again and again. This is something we need to discuss with @javier-camara and probably we need to give some probably that the obstacle may be removed. So this intelligence is good for our secondary criteria, which is timeliness.

[2018-05-16 22:38] javier-camara commented on #96
I am not sure I understand the problem. @schmerl , correct me if I am wrong, but I believe that if an obstacle is found, the IG fails, the corresponding edge in the map model is removed, a new waypoint with the location of the robot is inserted, and the robot replans an alternative route, so the knowledge about the obstacle being there is already (implicitly) represented in the model, right?

[2018-05-16 22:41] pooyanjamshidi commented on #84
@schmerl  in this case, I saw adaptation for task `l2->l4`, but the next task which was `l4->l2`, it could not find a plan, see logs, basically it waited for several minutes around the obstacle and did nothing! note all the setting including perturbation same as in the description. It's good that we saw at least one adaptation for a task, but we need to succeed for the whole mission.

[commnad_lin

[2018-05-16 22:52] javier-camara commented on #96
OK, forget what I said. I have realized that you might be talking about carrying out that information across the execution of subsequent tasks. Is that the case? If so, we can certainly discuss it, although it is not a trivial change.

[2018-05-16 22:56] pooyanjamshidi commented on #96
@javier-camara yes, because I saw a case where the robot went through the same corridor where the obstacle was, see my comment in #84.

[2018-05-16 22:58] pooyanjamshidi commented on #85
I reran this again, but the planner didn't come up with charging instructions, what's wrong here @javier-camara and @schmerl ? note the same setting as above.

[rainbow_c2a9.log](https://github.com/cmu-mars/issues/files/2011093/rainbow_c2a9.log)
[commnad_line_c2a9.log](https://github.com/cmu-mars/issues/files/2011094/commnad_line_c2a9.log)

[2018-05-16 23:12] schmerl commented on #84
How does it differ from the log I posted?

On Wed, May 16, 2018 at 6:42 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-16 23:13] schmerl commented on #85
Maybe config 7 is efficient enough?

On Wed, May 16, 2018 at 6:58 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-16 23:14] pooyanjamshidi commented on #85
@schmerl The robot ran out of battery and it failed the mission!

[2018-05-16 23:20] pooyanjamshidi commented on #84
@schmerl actually in your log, I also see one task done, and one adaptation, so I didn't see the whole mission succeed, did you see it?

[2018-05-16 23:25] schmerl commented on #85
Do you log when that happens?

On Wed, May 16, 2018 at 7:15 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-16 23:26] schmerl commented on #84
Yes. I think I saw it succeed. It only needs one adaptation, right?

On Wed, May 16, 2018 at 7:20 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-16 23:29] pooyanjamshidi commented on #84
@schmerl for subsequent task also need adaptation (`l4->l2`), but it didn't find any plan and it stayed there.

[2018-05-16 23:41] pooyanjamshidi commented on #85
Exactly after the last log line in the command line log, after that the robot shuts down and some exceptions appear.

[2018-05-16 23:47] pooyanjamshidi commented on #85
@schmerl I push the latest to docker hub so you can have a look.

[2018-05-16 23:52] schmerl commented on #85
@javier-camara this does look a bit strange given the initial conditions
and the plan selected:

Model constants:
INITIAL_CONFIGURATION=-1,INITIAL_LOCATION=1,TARGET_LOCATION=4,INITIAL_BATTERY=735,INITIAL_HEADING=2
Building reward structure...

Starting expected reachability (max)...
Starting Prob1 (min)...
Prob1 (min) took 16 iterations and 0.004 seconds.
target=14, inf=0, rest=184
Starting value

[2018-05-17 00:07] javier-camara commented on #85
@pooyanjamshidi , what is the battery discharge rate that appears in the JSON for sol_7?

[2018-05-17 00:49] pooyanjamshidi commented on #85
@javier-camara I don't know because from run to run is different, I can print it out after the learning is done, so in every run, we can have the list of configurations.

[2018-05-17 00:52] javier-camara commented on #85
It would be useful to find out what's going on. The plan generated depends very much on this information. Could you try to replicate the test and provide the list of configs with their discharge rates? (Or at least, for the one selected by the planner)

[2018-05-17 01:23] pooyanjamshidi commented on #85
@javier-camara configuration data in the command-line log at the beginning:
[rainbow_c2a10.log](https://github.com/cmu-mars/issues/files/2011302/rainbow_c2a10.log)
[commnad_line_c2a10.log](https://github.com/cmu-mars/issues/files/2011303/commnad_line_c2a10.log)

[2018-05-17 01:23] pooyanjamshidi commented on #85
@javier-camara it doesn't seem a right adaptation to me given the power load, also as you see it failed and robot ran out of battery.

[2018-05-17 01:32] pooyanjamshidi commented on #85
@javier-camara the reconfiguration decrease the power load, but what I expected to see is to go to charging in the previous task, i.e., `l4->l2`, because when it starts the task its battery level is `~3600` which is pretty low, although it is enough to get to `l2`, it is not enough for any adaptation. Do you think the same?

[2018-05-17 01:50] javier-camara commented on #85
There may be more things, but I have just realized that the log has two different fields, which are power_load and power_load_w (which is in mwhr, I assume). The code assumes a JSON that reads power_load, not power_load_w (the format change in the JSON is something of which I never received any notification).

The format on which we agreed is:
{
  "configurations": [
    {
      "config_id": "12",

[2018-05-17 01:51] javier-camara commented on #85
If my assumption is right, I can change the code to read the value in power_load_w instead. If you confirm, I will make the change.

[2018-05-17 02:02] pooyanjamshidi commented on #85
@javier-camara `power_load` is indeed in `mwhr`, I use `power_load_w` for other purposes which is not relevant for the planner, etc. So, don't worry about that.

[2018-05-17 02:21] javier-camara commented on #85
But if power_load is in mwhr, the values are too low for recharging to be required, right? Configuration 7 has a power_load of 8.77 mwhr, and a speed of 0.74 m/s. That means that the energy consumed per meter is approx 11 mwhr, and assuming an initial battery charge like the one sent above by Bradley (735 mwhr, which btw, is very low, compared to the overall the battery capacity of 32.5 whr), the

[2018-05-17 03:09] pooyanjamshidi commented on #85
@javier-camara It appears that the reconfiguration is not enacted, see at the end of the log, we see `The current configuration was requested: 0` this means still operates on the default configuration. @schmerl is this an IG bug? if the reconfiguration is actually called by rainbow, then IG didn't execute it, otherwise, we should have seen `Setting configuration to `.

[2018-05-17 03:52] pooyanjamshidi commented on #85
@javier-camara Also, why in every single run it wants to reconfigure to configuration 7? while there are some other configurations with a lower load?

[2018-05-17 10:04] schmerl commented on #85
@pooyanjamshidi This line says that the last instruction received by the IG was the one given by Rainbow:

[code]

These lines say that the setCP1Config seems to have been executed:
[code]
But the configuration still seems to be reported as 0. Problem with the SetCP1Config in `cp1_instructions.py`?

[2018-05-17 10:08] schmerl commented on #84
@pooyanjamshidi Found a potential problem with the analyzer not firing the second time. New Rainbow up. But look at #85 first before rebuilding because this might be a breaking change.

[2018-05-17 10:10] javier-camara commented on #85
@pooyanjamshidi the power_load is not the only parameter that determines the energy consumption. You have to factor in speed to determine energy consumed per meter, so finding out which configuration is more efficient just by looking at power_load is not obvious.

[2018-05-17 10:21] schmerl commented on #85
@pooyanjamshidi said:
[code]
But, this is not a correct expectation, right? The planner is only considering the current task (got to l2) and if it can get there without charging (because of timeliness) it will. This means that it may not have enough power to get to a charging station in the next task.

[2018-05-17 10:32] javier-camara commented on #85
@schmerl, you are right. Part of this is that the weights for the timeliness and energy consumption are fixed to 0.5 for the time being (in rainbow/deployments/rainbow-brass/src/main/java/org/sa/rainbow/brass/plan/p2_cp1/DecisionEngineCP1.java), so the robot does not necessarily favor energy efficiency. If we modify the weights to be e.g. 0.9 for energy efficiency, vs. 0.1 for timeliness (as we di

[2018-05-17 10:34] javier-camara commented on #85
Just to clarify, by "energy efficiency" I mean maximization of the remaining battery energy by the end of the task.

[2018-05-17 11:11] pooyanjamshidi commented on #85
@schmerl last night I doubled check `cp1_instructions.py` and it seems alright, so you are 100% sure the method `status, msg = self.cp1.set_config(config)` got executed?

[2018-05-17 11:14] pooyanjamshidi commented on #85
@javier-camara Would you please make the utilities parameterized so that I can play with it to find a balance that it succeed a mission now for RR2? see #94 or if this is a too much change now, probably change the weight to 0.9-0.1 for now?

[2018-05-17 11:18] pooyanjamshidi commented on #85
@javier-camara since you are leaving today, probably simply change that to 0.9 - 0.1.

[2018-05-17 11:30] schmerl opened #97 "Develop a program to test plans"
Develop a standalone Java app that can test different planning scenarios. It would works something like:

*Inputs*: Current location, map, condition (obstructed, battery, node/sensor failure, darkness)
*Outputs*: List of tactics or IG that the planner would produce

I think this will give us more confidence in the planner. Is this something that could be done before RR3 (i.e., before the end of ne

[2018-05-17 11:37] javier-camara commented on #85
@pooyanjamshidi changed priorities to 0.9 -0.1 in the repo.

[2018-05-17 11:57] pooyanjamshidi commented on #85
@schmerl can you please build rb given javier changes?

[2018-05-17 12:06] schmerl commented on #85
@pooyan. Not yet. Let's deal with #84 first. Did you check the setting of the config mentioned a few comments ago?

[2018-05-17 12:23] pooyanjamshidi commented on #84
@schmerl failed:
[rainbow_c2a11.log](https://github.com/cmu-mars/issues/files/2013122/rainbow_c2a11.log)
[commnad_line_c2a11.log](https://github.com/cmu-mars/issues/files/2013123/commnad_line_c2a11.log)

[2018-05-17 12:25] pooyanjamshidi commented on #85
@schmerl yeah, I mentioned that I checked `set_config` and it seems fine, but I believe `ig_server` doesn't call that method, could you check? because I put a comment in the first line of the method and I don't see it int he log...

[2018-05-17 13:08] schmerl commented on #96
Say we have a mission that has l2, l4, l2
1. We place an obstacle between l2 and l4
2. When the mission sequencer starts the mission, it will give the path l2, l4 thinking there is no obstacle
3. The robot stops because of obstacle
4. Rainbow notices this and issues alternate plan for l2->l4 avoiding obstacle
5. Robot gets to l4
6. Rainbow tells mission sequencer task is done
7. Mission sequencer

[2018-05-17 13:59] pooyanjamshidi commented on #96
So if I understood this scenario correctly, we need to figure out how make rainbow to carry knowledge across tasks?

[2018-05-17 14:41] schmerl commented on #96
No, rainbow already does that. The "issue" which is really a consequence of the design of the problem is in step 7.

[2018-05-17 14:42] schmerl commented on #85
@pooyanjamshidi Checked in a change to ig_server that should have the trace messages appear. And it should be being called.

[2018-05-17 15:02] schmerl opened #98 "Generate config specific paths and instructions"
Because different paths would be optimal in different configurations, we should generate a different path. Should this be done per utility as well?

[2018-05-17 15:14] pooyanjamshidi commented on #96
But it has to go to `l2` that's the mission specification.

[2018-05-17 17:09] schmerl commented on #96
That's a separate issue. It is trying to go to l2 but the second time the
obstacle is encountered, there was a bug in rainbow where the planner
wasn't invoked a second time. This is the fix I checked in this morning
that I think we're still trying to work out -- the current state is that
the new plan gives a speed of -0.04 which is a problem with the learner(?)
that you're currently fixing.

On Th

[2018-05-17 18:34] pooyanjamshidi commented on #84
@schmerl could you please take a look? the robot doesn't move and I don't see any actual plan as before, but I see `Got new plan`

[rainbow_c2a12.log](https://github.com/cmu-mars/issues/files/2014316/rainbow_c2a12.log)
[commnad_line_c2a12.log](https://github.com/cmu-mars/issues/files/2014317/commnad_line_c2a12.log)

[2018-05-17 19:46] pooyanjamshidi commented on #84
@schmerl See:
[rainbow_c2a13.log](https://github.com/cmu-mars/issues/files/2014524/rainbow_c2a13.log)
[commnad_line_c2a13.log](https://github.com/cmu-mars/issues/files/2014525/commnad_line_c2a13.log)

[2018-05-17 20:38] schmerl commented on #84
This seems to be working?

[command-line-log-working.log](https://github.com/cmu-mars/issues/files/2014652/command-line-log-working.log)

[2018-05-17 22:47] pooyanjamshidi commented on #85
@javier-camara and @schmerl logs for battery perturbations, the exception is strange:
[commnad_line_c2a14.log](https://github.com/cmu-mars/issues/files/2014940/commnad_line_c2a14.log)
[rainbow_c2a14.log](https://github.com/cmu-mars/issues/files/2014941/rainbow_c2a14.log)

[2018-05-18 16:26] bisc commented on #51
I drafted the new power model for CP3 here: https://docs.google.com/document/d/1QlShodvDUHOKNkLmW1OlruyOCmAZ1_zaHC9v9LujWkI

It was pretty easy to satisfy the camera > kinect constraint. But the other two are a mess:
- the newest most-minimal LIDAR puck consumes 50% more energy than kinect (and 50% less than the camera). Other, more standard lidars are even more power-consuming. Can less we rethin

[2018-05-18 16:32] schmerl commented on #51
Hmm. maybe I miscommunicated the constraints because I think headlamp
should be expensive and lidar too. I would expect camera to be less than
Kinect seeing that Kinect has camera.

On Fri, May 18, 2018 at 12:26 PM Ivan Ruchkin <notifications@github.com>
wrote:

[2018-05-18 17:27] ivoysey commented on #86
done in CP3.

[2018-05-18 17:49] ivoysey commented on #91
fixed in https://github.mit.edu/brass/cmu-robotics/commit/da07b262aea2053d879eceed520236eee0744e65

[2018-05-18 17:49] #91 closed, assigned to ivoysey

[2018-05-18 17:52] ivoysey commented on #66
I believe this is now done.

[2018-05-18 17:52] #66 closed, assigned to ivoysey, schmerl

[2018-05-18 18:03] ivoysey commented on #86
done in CP1

[2018-05-18 18:03] #86 closed, assigned to ivoysey

[2018-05-18 18:08] bisc commented on #51
Oh haha, I read the less-than signs literally.

I've put in a less ambitious camera, now the relation is as specified.

[2018-05-18 18:21] schmerl opened #99 "Battery perturbation adapts again after replanning."
**Description**: This was a C test case with c1c running
**Issue**: The planner replans once, starts executing the new plan, but then the battery evaluator determines the plan has not enough energy, and replans again.
**Start conditions**: c1c
**Steps to reproduce**:
[code]
**Observations**:

1. Rainbow generates the new plan: `P(V(1, do SetCP1Config(7) then 2),V(2, do MoveAbsH(-21.08, 11.08, 0.98

[2018-05-18 18:30] schmerl commented on #99
Personally, I think the first thing to do is to establish the upper speed that the robot actually goes in gazebo. IIRC, I think that you can set a high speed but the robot doesn't necessarily go that speed. So that would throw off the planner.

[2018-05-18 18:39] #90 closed, assigned to pooyanjamshidi, javier-camara

[2018-05-18 18:45] ivoysey commented on #73
I've implemented this now in https://github.mit.edu/brass/cmu-robotics/commit/6bd6502f79250166c088b57245c5120da9e9fd5f

@schmerl two questions for you:

1. the first argument, bumped, seems to be always `True` in `cp3.py`, so I'm ignoring it.
2. `CollisionData` also includes a coordinate pair of where the bot was when it bumped, which you don't pass to the callback. I'm producing them by asking Ga

[2018-05-18 18:46] ivoysey commented on #73
Whoops -- I meant https://github.mit.edu/brass/cmu-robotics/commit/6bd6502f79250166c088b57245c5120da9e9fd5f not the merge commit after it; fixed above, including here incase you're using email.

[2018-05-18 19:08] ivoysey opened #100 "improve readability of access.log"
possibly follow CP2's example with some logging stuff; it seems like it can be hard to read some of these files.

[2018-05-18 19:36] ivoysey commented on #73
Closing this per discussion in Slack.

[2018-05-18 19:36] #73 closed, assigned to ivoysey, schmerl

[2018-05-18 23:36] pooyanjamshidi commented on #99
For our note, I made some changes in the backend to consider `0.68` as an upper limit for `speed`, so for our planner debugging, we exclude this option.

[2018-05-21 14:29] schmerl commented on #74
This is going to have to be an API change. Because the time metric is calculated based on one of the baseline runs, we do not know what that number was a priori. So, I think the API has to change to be something like:
[code]

[2018-05-21 14:40] ivoysey commented on #93
Since there were no objections, I'm going to close this issue.

[2018-05-21 14:40] #93 closed, assigned to ChrisTimperley

[2018-05-21 14:40] ivoysey commented on #79
@schmerl can you add the appropriate milestone to this issue? Or close it if you feel like it's been tested enough.

[2018-05-21 14:41] ivoysey commented on #77
@schmerl can you add the appropriate milestone to this issue? Or close it if you think it's been tested.

[2018-05-21 14:41] ivoysey commented on #76
@schmerl can you add the appropriate milestone to this issue?

[2018-05-21 14:42] ivoysey commented on #56
@schmerl can you add the appropriate milestone to this issue? Or close it since it's almost a month old and might not be relevant any longer.

[2018-05-21 14:43] ivoysey commented on #75
I'm going to move this to the RR3 milestone. There are a lot of weird little errors like this --- or like debian complaining about not being able to find X just in case it gets asked to launch the GUI for apt, or whatever --- that aren't actually important but would be good to clean up if we have the time.

[2018-05-21 14:44] ivoysey commented on #81
@schmerl @pooyanjamshidi what's the status of this issue? did it get resolved last week? does it belong in RR3?

[2018-05-21 14:44] ivoysey commented on #84
@pooyanjamshidi @schmerl what's the status here? is this one fixed or is it an RR3 problem?

[2018-05-21 14:45] ivoysey commented on #85
@pooyanjamshidi @javier-camara @schmerl what's the status here? is this fixed or an RR3 problem?

[2018-05-21 14:46] ivoysey commented on #88
I'm going to move this to RR3, since it seems like things were working "well enough" by COB last week. The integration event should tell us a lot about how busted this actually is, and I'll fix this during if need be. Otherwise we should have a TH at the end of the week to hammer on and an idea of what really fails.

[2018-05-21 14:46] ivoysey commented on #94
@pooyanjamshidi @javier-camara @schmerl what's the status of this issue? is it closed or does it belong in RR3?

[2018-05-21 14:55] pooyanjamshidi commented on #77
This is related to #94.

[2018-05-21 14:59] pooyanjamshidi commented on #84
@ivoysey can be closed, we tested it with different scenarios and it seems alright, i.e., we saw adaptation and the robot finished the mission.

[2018-05-21 15:30] #84 closed, assigned to schmerl, pooyanjamshidi

[2018-05-21 15:31] schmerl commented on #46
Now tested for CP1

[2018-05-21 15:31] #46 closed, assigned to nobody

[2018-05-21 15:32] #44 closed, assigned to nobody

[2018-05-21 16:03] ivoysey commented on #100
also enable debug mode permanently on all the flask instances.

[2018-05-21 19:43] ivoysey opened #101 "add event based logging"
something like
[code]
in a file after each run

one possible approach is to store this in a list in `config` and update it based on topics or listening to the IG interpreter, then dump it to the file system before sending a done or an error. this saves file system IO time but may not produce a log in all tests.

another approach is to just append to a file every time something of this form comes u

[2018-05-21 19:50] pooyanjamshidi commented on #101
@ivoysey interesting! but maybe TH will produce this already, probably ask LL whether this is an option. This is also related to `CP1`.

[2018-05-21 19:52] ivoysey commented on #101
@pooyanjamshidi The TH definitely does not produce this already.

In your case we produce something a little bit similar -- which is that we have a data structure of when the SUT reports to the TA that it's at *one of the waypoints in the mission*, but not any waypoint at all. So if you have a mission `l1 l3 l4 l2` then we get to know when you're at `l1` and `l3` but if the plan for how to get the

[2018-05-21 19:57] pooyanjamshidi commented on #101
@ivoysey on the second thought, cannot we generate this automatically from the information in `access.log`? all events are logged there.

[2018-05-21 19:57] ivoysey commented on #101
@pooyanjamshidi Yeah, it's derivable but probably kind of a hassle. This is more of a convenience than a real necessity.

[2018-05-21 20:07] schmerl commented on #71
I believe that this is fixed now. But let's check this with output from Integration Week.

[2018-05-21 20:08] #70 closed, assigned to schmerl, javier-camara

[2018-05-21 20:08] ivoysey commented on #71
@pooyanjamshidi were you seeing similar weird times in your tests for CP1? Or was this problem limited to CP3?

[2018-05-21 20:09] schmerl commented on #67
The internal status message should be able to make that more obvious.

[2018-05-21 20:10] schmerl commented on #49
I think this is done.

[2018-05-21 21:01] pooyanjamshidi commented on #71
@schmerl what was the fix for this?

[2018-05-21 21:20] schmerl commented on #71
The fix was to make sure that the TA does ros_init some time after it does
roslaunch.

On Mon, May 21, 2018 at 5:02 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-05-21 21:30] pooyanjamshidi commented on #71
@ivoysey given @schmerl  fix, `CP1` is OK since we already do that in `TA`.

[2018-05-21 22:36] ivoysey commented on #71
OK! Sounds good to me. If the times are all whacky when we see some test results we'll know what to look for, so I'm going to close this issue.

[2018-05-21 22:36] #71 closed, assigned to ivoysey

[2018-05-21 22:37] ivoysey commented on #49
@schmerl OK; I'm closing it now.

[2018-05-21 22:37] #49 closed, assigned to schmerl

[2018-05-24 14:05] #95 closed, assigned to schmerl

[2018-05-25 18:24] schmerl commented on #25
Moving this milestone out of Phase 2 development.

[2018-05-25 18:30] ivoysey commented on #25
@schmerl should we have a "phase3-dreams" milestone or something?

[2018-06-04 14:45] schmerl commented on #101
I don't think this comes from access.log, because not all the information is reported in status, observations, or other calls to the TA. Some of it is, for sure.

[2018-06-04 14:47] schmerl commented on #74
According to the evaluation, we cannot calculate the time score because it depends on another test case. But, these things are calculable by the TH from the `final-sim-time` (for time), `collisiondata` for safety and `final-charge` for charge.

[2018-06-04 14:47] #63 closed, assigned to nobody

[2018-06-04 14:55] ivoysey commented on #74
@schmerl OK -- if they're derivable, that should be good enough for evaluation and save us a late-game API change. Do we want to close this issue?

[2018-06-04 20:58] #74 closed, assigned to ivoysey, javier-camara

[2018-06-05 21:53] schmerl opened #102 "Exception in TA with new time calculation"
When the first "ADAPTING" message is sent from rainbow, the TA throws the following error:

[code]

[2018-06-05 21:53] schmerl commented on #102
This is blocking me.

[2018-06-06 16:15] ivoysey commented on #102
This should be fixed by https://github.mit.edu/brass/cmu-robotics/commit/7a4f41e5274dc6215eb04028fb9f2ebbe656cc0d -- it was an initial conditions problem, the first time we get an adapt message, we don't have a time for the most recent previous one yet, so we can't update the sum-so-far in the same way.

[2018-06-06 17:12] #102 closed, assigned to ivoysey

[2018-06-09 20:02] schmerl opened #103 "mrpt-localization apt package gone"
The mrpt-localization package can no longer be found, meaning that ew can't build cp3_base from scratch. Luckily it is one of the first things installed. This was ok for RR3 release, but need to find out if this is permanent or temporary, and find a workaround if it is permanent.

[2018-06-09 20:54] schmerl opened #104 "Some empty paths by default"
The path generator that comes up with paths for the A and B and starting C cases is empty in about 5% of cases, a lot do to with aruco. I suspect this is to do with how many options we consider in model checking. This should be investigated. See the attached file for the data.
[empty_paths.txt](https://github.com/cmu-mars/issues/files/2087323/empty_paths.txt)

[2018-06-12 16:23] schmerl opened #105 "Missing data on some edges"
There seems to be no hitrate or successrate data for the following map edges:
l14->l13
l39->l1
l4->l5

[2018-06-12 16:26] schmerl commented on #81
@pooyanjamshidi  I do not think it is resolved. You should be able to come up with a test case that would see if it is a problem. I think the problem could be demonstrated by setting an initial battery perturbation that doesn't give enough battery to complete the first task. I will wait for your confirmation of whether this is a problem.

[2018-06-12 16:35] schmerl opened #106 "Exception in TA on observe"
This happens only sometimes, perhaps as a race condition, perhaps because my TH calls observe too early:

[code]

[2018-06-12 18:15] pooyanjamshidi commented on #81
If this is a rainbow problem, then this needs to be resolved whether it manifests an error in one scenario or not. The default configuration where the robot is running is communicated with Ranbow/planner via the json file which is shared. Also, at anytime, rainbow can query what configuration the robot is in. So I this must be fixed in Rainbow if it is already not?

[2018-06-12 18:16] pooyanjamshidi commented on #81
@javier-camara can you please confirm whether the planner assuming/using the default configuration correctly?

[2018-06-12 18:36] schmerl commented on #81
@pooyanjamshidi <https://github.com/pooyanjamshidi> Javier cannot confirm
this because it is not his problem. You should come up with a test that
will illustrate if this is an error or not, and run it. Note that neither I
nor Javier are running tests of CP1 currently - we are expecting you to run
these tests for the whole system and report any bugs/observations to us. I
reported this bug because t

[2018-06-12 19:05] pooyanjamshidi commented on #81
@schmerl how can I confirm something that I don't have access?? I should have an API to confirm whether Rainbow pick up the default configuration, does rainbow expose what configuration it is assuming, how can I access it? besides we are working as a team, there is no boundary of challenge problem whatever, if you see a bug and since this is obviously related to the Rainbow assuming a configuratio

[2018-06-12 19:16] ivoysey commented on #106
@schmerl This is happening because `/observe` is getting hit before the callback for the `energy_level` topic is run for the first time (https://github.mit.edu/brass/cmu-robotics/blob/master/cp3/ta/swagger_server/__main__.py#L199). So the value of `config.battery` is still `None`, which is not an integer, so the generated code from the Swagger spec is stopping us from returning it because it's not

[2018-06-12 19:46] schmerl commented on #106
My TH is very simple at the moment, and so I think it probably voids the state machine. I wait for the ready message to be processed and then I start two threads: One thread wait for live and then calls start and then waits for some time and perturbs; the other thread starts and calls observe every second until the done message appears. I'm pretty sure that what is happening is that I could be cal

[2018-06-12 19:46] #106 closed, assigned to ivoysey

[2018-06-12 19:49] schmerl commented on #99
@pooyanjamshidi I assume that your change fixes the problem?

[2018-06-12 19:53] ivoysey commented on #106
Yeah -- that's the kind of sequence diagram stuff I was worried about when we talked yesterday. You actually shouldn't hit `/observe` until you get a response from having hit `/start`.

There's a small chance that another thing is happening, which is that ROS could be publishing non-numerical values to the topic. I think that's pretty unlikely. If we see this again and we think the sequence diagra

[2018-06-12 19:55] schmerl commented on #81
@pooyanjamshidi I gave you an example of how you could test that above. So you should run that test. Yes, we are working as a team but you agreed to manage (i.e., drive) CP1, and so I am expecting you to manage (i.e., drive) CP1. I am not asking you to fix the problem, I am asking you to check if you see the problem, produce some logs, so that we can do debugging. It is not "obviously" related to

[2018-06-12 21:12] schmerl opened #107 "IG Graph has wrong ordering"
(For some reason this is only happening when `aruco-camera` is the start configuration.) When changing into a new configuration away from aruco and towards mrpt, the following instruction graph is generated:

[code]

My current theory is that the reconfiguration actions are in the wrong order. They should be:

`...SetSensor(%KINECT%, %on%), StartNodes(%laserScanNodelet), StartNodes(%MapServer%), S

[2018-06-12 21:48] schmerl opened #108 "CollisionData not found in TA"
I get this error:

[code]

[2018-06-13 17:40] #108 closed, assigned to ivoysey

[2018-06-13 17:41] schmerl commented on #103
Now build from local deb files stored on acme.able.cs.cmu.edu

[2018-06-13 17:41] #103 closed, assigned to schmerl

[2018-06-13 17:44] schmerl opened #109 "Failed IG regenerates same plan"
If the robot fails a mission because (e.g., it gets stuck on on obstacle or it fails to move because it can't localize), this is not represented currently in Rainbow. The planner will generate the same plan over and over. We should consider changing this to discard the current configuration.

[2018-06-13 18:09] schmerl commented on #107
I no longer think this is the cause of the problem. I think the problem was that the state (i.e., the pose) needs to be published if AMCL or MRPT start. This is now happening in the TA (which is not the best place for it, but hey).

Keeping it open to run more tests.

[2018-06-13 18:10] schmerl commented on #101
@ivoysey Where are we on this?

[2018-06-13 18:11] schmerl commented on #88
This is still a problem, but it isn't causing any faults in my current testing so closing.

[2018-06-13 18:11] #79 closed, assigned to schmerl

[2018-06-13 18:11] #76 closed, assigned to nobody

[2018-06-13 18:12] #67 closed, assigned to ivoysey, schmerl

[2018-06-13 18:12] #53 closed, assigned to nobody

[2018-06-13 18:16] schmerl opened #110 "Rainbow trace messages"
Currently the utility calculation for time (and maybe battery) is done differently inside Rainbow than in the test evaluation. This is because Rainbow does not have access to the A case experiment. (Rainbow takes the plan with the least time as utility 1 and then scales other plan times accordingly).

This information should be logged in an easy to read/find way to make sure that we can easily che

[2018-06-13 18:25] ivoysey commented on #108
@schmerl I'm guessing this is fixed since you closed it?

[2018-06-13 18:48] schmerl commented on #108
Yes.

On Wed, Jun 13, 2018 at 2:25 PM Ian Voysey <notifications@github.com> wrote:

[2018-06-14 21:17] ivoysey commented on #88
I'm going to reopen it just so that it doesn't slip through the cracks; if we're experiencing weird problems in the future I want to make sure I remember to think about this.

[2018-06-18 14:24] ivoysey commented on #56
@schmerl what's the deal with this issue?

[2018-06-18 15:06] schmerl commented on #56
Nothing of concern.

On Mon, Jun 18, 2018 at 10:24 AM Ian Voysey <notifications@github.com>
wrote:

[2018-06-18 16:47] pooyanjamshidi commented on #99
@schmerl yes,I fixed the speed issue, but replanning might be OK, because the planner may reconfigure but still may need to go to a charging due to low battery, @javier-camara right?

[2018-06-19 14:09] #105 closed, assigned to schmerl

[2018-06-20 20:38] ivoysey commented on #45
@schmerl @joshsunshine how do y'all feel about this issue? i know bradley's been doing some testing on his own pretty extensively at least.

[2018-06-20 20:39] ivoysey commented on #30
@schmerl @bisc What's the status of this? Do we still need to do it?

[2018-06-20 20:41] ivoysey commented on #51
@bisc what's up with this issue?

[2018-06-20 20:54] bisc commented on #30
It hasn't been done. I don't know whether anything happened that would invalidate this task.

[2018-06-20 20:54] bisc commented on #51
I think it's done.

[2018-06-21 00:11] schmerl commented on #30
It will be done before code freeze. This is just a reminder for be to do
it.

On Wed, Jun 20, 2018 at 4:54 PM Ivan Ruchkin <notifications@github.com>
wrote:

[2018-06-21 00:11] schmerl commented on #51
Need to church with Javier.

On Wed, Jun 20, 2018 at 4:54 PM Ivan Ruchkin <notifications@github.com>
wrote:

[2018-06-21 12:55] schmerl commented on #78
I'm not sure what this is about, @pooyanjamshidi

[2018-06-21 13:02] pooyanjamshidi commented on #78
This is the idea we discussed at ABLE, so the reconfiguration may have different enaction latency, in CP1 we can simulate this easily and in general, I think this is a nice research idea to investigate. I think this is one of the ideas we would like to consider in phase 3 regarding online learning so we learn these latencies and we consider this in adaptation.

[2018-06-21 13:09] schmerl commented on #78
OK, so not intended for Phase 2.

On Thu, Jun 21, 2018 at 9:03 AM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-06-21 14:00] ivoysey commented on #78
I'll move it to the Phase 3 milestone so we don't think it's something we need to do by next month.

[2018-06-21 16:41] schmerl commented on #85
@javier-camara Pinging you back in on this. It looks like m_scoreboard does not have any entries?

[2018-06-25 18:54] schmerl commented on #85
@pooyanjamshidi It looks like the planner couldn't find a plan. We've made some changes so that if that is the case, then we properly report the failure back to you (and the TA). Please rebuild and rerun this test.

[2018-06-26 14:36] pooyanjamshidi commented on #85
Logs.
[rainbow-analyzers.log](https://github.com/cmu-mars/issues/files/2137581/rainbow-analyzers.log)
[rainbow-logging.log](https://github.com/cmu-mars/issues/files/2137582/rainbow-logging.log)

[2018-06-26 15:35] schmerl commented on #85
@pooyanjamshidi SOme sort of conclusions would be less obtuse as a comment. I don't see the exception.

[2018-06-26 17:26] pooyanjamshidi commented on #85
@schmerl And here is the command line logs.
[commnad_line-newc1.log](https://github.com/cmu-mars/issues/files/2138236/commnad_line-newc1.log)

Did you see any adaptation in the rainbow log?

[2018-06-26 18:13] schmerl commented on #85
@pooyanjamshidi It would be much easier if you told me what you observed happening because  you have the expectation of what you think should happen and also what you observed happening. I think this bug is about the exception. I did not see the exception. If you saw the exception, or you saw something else happening, the be clear about it.

[2018-06-26 19:48] pooyanjamshidi commented on #85
@schmerl I didn't see any exception, and the mission was successfully accomplished, but I expected to see some reconfiguration because at the end of the mission the battery was too low and it was risky, makes sense? So in this case, in particular, I expected to see at least a reconfiguration to a conservative configuration, but that didn't happen as far as I can see

[2018-06-26 20:40] schmerl commented on #85
@pooyanjamshidi @javier-camara I don't see why you would expect the adaptation to happen if it has enough battery to complete the task, even if you think it was risky. Correct me if I'm wrong (and I don't know what you designed to have happen in this case) but for what you want you would have needed either (a) somehow encoded risk (which I never remember discussing), or (c) encoded some power thre

[2018-06-26 20:45] pooyanjamshidi commented on #85
@schmerl Yes, see cases above.
Probably I don't know the power analyzer much, but does it only issue an adaptation only when for sure the mission cannot be finished with the remaining battery and under current configuration? or it does consider some contingency?

[2018-06-26 20:50] schmerl commented on #85
I think if it has enough power to get there, it will think that it is ok
and not need to adapt.

On Tue, Jun 26, 2018 at 4:45 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-06-26 20:51] bisc commented on #85
I'm out of context here, but it seems like @pooyanjamshidi expected some robust handling of possible noise and model error. Unfortunately, AFAIK, we don't do any such thing now (seems to be a larger engineering burden than we can afford), and we assume the numbers in the prediction/planner to be precise and correct, perfectly aligned with the simulator.

[2018-06-27 17:30] pooyanjamshidi commented on #85
@javier-camara In this scenario, the planner issued some adaptation, but the robot went out of battery, can you check why?
[commnad_line-newc2.log](https://github.com/cmu-mars/issues/files/2142258/commnad_line-newc2.log)
[rainbow-analyzers.log](https://github.com/cmu-mars/issues/files/2142259/rainbow-analyzers.log)
[rainbow-logging.log](https://github.com/cmu-mars/issues/files/2142260/rainbow-logg

[2018-06-27 17:38] pooyanjamshidi opened #111 "Robust handling of possible noise and model error for adaptations"
It seems that the way how the planner works do not account for model mismatch and measurement noise and whatever may cause the internal knowledge does not match the reality. One possible way of dealing with this is to learn the model error in the online learning in Phase 3.

[2018-06-27 17:42] pooyanjamshidi commented on #111
This is related to the discussion about battery perturbation in #85 as per @bisc...

[2018-06-27 17:52] pooyanjamshidi commented on #85
@javier-camara would you please also confirm whether I can adjust the weights for timeliness and energy via the `~/cp1/config.json` as we discussed?
[code]

[2018-06-27 18:08] pooyanjamshidi commented on #81
@schmerl I think it picks up the first config correctly as far as I can see in the command line, can you check out the logs? as you suggested I set a very low battery for the first task that it cannot finish it....

[rainbow-analyzers.log](https://github.com/cmu-mars/issues/files/2142378/rainbow-analyzers.log)
[rainbow-logging.log](https://github.com/cmu-mars/issues/files/2142379/rainbow-logging.l

[2018-06-27 18:12] bisc commented on #111
This would be nice, but will probably have to be delayed till phase 4 :)

[2018-06-27 23:35] pooyanjamshidi commented on #85
In this scenario, the bot ran out of battery. It's strange it plans to charge in the last step.
```P(V(1, do SetCP1Config(1) then 2),V(2, do MoveAbsH(0.54, 10.87, 0.63, 3.1316) then 3)::V(3, do MoveAbsH(-21.08, 11.08, 0.63, -1.5708) then 4)::V(4, do MoveAbsH(-21.08, 0.00, 0.63, -1.5522) then 5)::V(5, do MoveAbsH(-20.86, -11.62, 0.63, -0.0123) then 6)::V(6, do MoveAbsH(1.03, -11.89, 0.63, -0.0123)

[2018-06-28 00:06] schmerl commented on #85
For these bugs can you also upload the console log with all the ros output

On Wed, Jun 27, 2018 at 7:35 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-06-28 03:44] pooyanjamshidi commented on #85
@schmerl done

[2018-06-29 13:25] schmerl commented on #85
@pooyanjamshidi A couple of questions:

1. At the time that the adaptation was issued, what was the charge? I don't see here any traces for the battery, so I can't tell if it is already low when the adaptation occurs.

2. It looks like rainbow-logging.log did not finish uploading before you disconnected, so I can't see what rainbow thinks.

3. @javier-camara What other information would you need t

[2018-06-29 14:02] pooyanjamshidi commented on #85
The battery was around `1.4 wh`. One thought for better debugging: can you guys pull/printout the battery right before the adaptation? this makes debugging better. I don't know about issue number 2.

[2018-07-02 11:37] javier-camara commented on #85
Some things with respect to the points discussed in this thread:

- @pooyanjamshidi , I have implemented the customization via configuration file that you mention above. I just pushed the code. Once Bradley goes through the additional step, you should be able to customize things.

- With respect to the bug itself, I have noticed that the time that the IG issues along with the charging instruction

[2018-07-02 12:13] schmerl commented on #85
So does this mean that the code should be in the instruction to charge or
somewhere in rainbow?

On Mon, Jul 2, 2018 at 7:37 AM Javier Camara <notifications@github.com>
wrote:

[2018-07-02 14:12] pooyanjamshidi commented on #85
@javier-camara do we really need that as in the instruction graph we implemented code that the robot will be fully charged and doesn't need any input. We discussed that before at some point.

[2018-07-02 18:55] pooyanjamshidi commented on #85
@javier-camara @schmerl see exception below, the correct path should be: `~/cp1/config.json`.
[code]

[2018-07-05 15:55] pooyanjamshidi commented on #85
@javier-camara @schmerl  in the new version I still see `Charge(15.00)`, as I mentioned, we have the code in IG that simply fully charges, so no need for any specific time being at the charging station. However, in the tests, the robot stays in the charging until it fully charges and `15` doesn't seem to have any effect. Do we need to change the planner or leave it as it is?

[2018-07-05 15:58] schmerl commented on #85
If this isn't having an effect, but the robot is charging fully and
behaving as expected, I think we should leave this the way it is. Not only
would it require changes to the planner to change it, it would also require
changes to the instruction graph parser and interpreter that I'd rather not
touch at this late stage.

On Thu, Jul 5, 2018 at 11:55 AM Pooyan Jamshidi <notifications@github.com>
wro

[2018-07-05 19:30] #69 closed, assigned to schmerl, javier-camara

[2018-07-05 20:01] pooyanjamshidi opened #112 "Rainbow failed when placing obstacle"
This exception happened when I put an obstacle.
[code]

[commnad_line-newc3.log](https://github.com/cmu-mars/issues/files/2168047/commnad_line-newc3.log)
[rainbow-analyzers.log](https://github.com/cmu-mars/issues/files/2168045/rainbow-analyzers.log)
[rainbow-logging.log](https://github.com/cmu-mars/issues/files/2168046/rainbow-logging.log)

[2018-07-05 20:02] pooyanjamshidi commented on #112
This might be related to recent changes happened to the rainbow, I never saw this before.

[2018-07-05 20:07] #110 closed, assigned to schmerl, javier-camara

[2018-07-05 20:08] #109 closed, assigned to schmerl, javier-camara

[2018-07-05 20:08] schmerl commented on #107
This turned out not to be the issue. It was an issue with setting the initial_pose that is required by MRPT and AMCL.

[2018-07-05 20:08] #107 closed, assigned to schmerl, javier-camara

[2018-07-05 20:09] #104 closed, assigned to schmerl, javier-camara

[2018-07-05 20:10] schmerl commented on #100
Let's not do this. One main reason -- CP3 data processing is dependent on current log format.

[2018-07-05 20:10] #100 closed, assigned to ivoysey, schmerl, pooyanjamshidi

[2018-07-05 20:11] #98 closed, assigned to schmerl, javier-camara

[2018-07-05 20:11] schmerl commented on #97
No longer needed.

[2018-07-05 20:11] #97 closed, assigned to javier-camara

[2018-07-05 20:12] schmerl commented on #88
It slipped through the cracks.

[2018-07-05 20:12] #88 closed, assigned to ivoysey, schmerl

[2018-07-05 20:12] #81 closed, assigned to schmerl, pooyanjamshidi

[2018-07-05 20:12] schmerl commented on #77
@pooyanjamshidi Should we close?

[2018-07-05 20:13] #75 closed, assigned to nobody

[2018-07-05 20:13] #58 closed, assigned to nobody

[2018-07-05 20:14] #51 closed, assigned to bisc, schmerl

[2018-07-05 20:14] #47 closed, assigned to nobody

[2018-07-05 20:15] #45 closed, assigned to joshsunshine

[2018-07-05 20:15] #41 closed, assigned to schmerl, javier-camara

[2018-07-05 20:15] #30 closed, assigned to bisc, schmerl, javier-camara

[2018-07-05 20:18] schmerl commented on #85
@pooyanjamshidi Close?

[2018-07-05 20:31] pooyanjamshidi commented on #85
@schmerl let's keep this open as I'm running more tests.

[2018-07-05 20:34] pooyanjamshidi commented on #77
Yes. @javier-camara implemented this few days ago, still running tests to make sure it's working and the options are reflected, I've seen errors like #112 but we can close this now.

[2018-07-05 20:53] schmerl commented on #112
@pooyanjamshidi Is this happening all the time now? It seems like it is an error with the construction of the prism file. Can you pull out all the files from /home/mars/das/rainbow-brass/targets/brass-p2-cp1/prism and post them here?

[2018-07-05 21:15] ivoysey commented on #85
@pooyanjamshidi sounds good. please do close this when you're satisfied, though.

[2018-07-05 21:16] #77 closed, assigned to schmerl, pooyanjamshidi, javier-camara

[2018-07-05 21:28] schmerl commented on #112
OK, so Rainbow has hardwired into it a battery capacity (in CP1) of 32560.0. Somewhere you are trying to set it to be 32822, which is greater. I'm not sure of the semantics here so @pooyanjamshidi @javier-camara   you guys need to figure this out.

This is what I get from this line in the output:
`Error: Invalid initial value (32823) for variable "b" (line 103, column 1).`,

and when I look at Sim

[2018-07-06 20:28] pooyanjamshidi commented on #112
@javier-camara @schmerl I still get the same error.
[prism.txt](https://github.com/cmu-mars/issues/files/2171877/prism.txt)

[rainbow-analyzers.log](https://github.com/cmu-mars/issues/files/2171881/rainbow-analyzers.log)
[rainbow-logging.log](https://github.com/cmu-mars/issues/files/2171882/rainbow-logging.log)

[2018-07-06 20:39] schmerl commented on #112
I do not see the exception.

On Fri, Jul 6, 2018 at 4:28 PM Pooyan Jamshidi <notifications@github.com>
wrote:

[2018-07-06 20:46] pooyanjamshidi commented on #112
[commnad_line-newc4.log](https://github.com/cmu-mars/issues/files/2171931/commnad_line-newc4.log)

[2018-07-06 22:16] ivoysey commented on #101
I think this is derivable from the other logs, and we're out of time.

[2018-07-06 22:16] #101 closed, assigned to ivoysey, schmerl, pooyanjamshidi

[2018-07-07 02:18] pooyanjamshidi commented on #99
I'm closing this because the issue is resolved, but @javier-camara please provide an answer if relevant?

[2018-07-07 02:18] #99 closed, assigned to schmerl, pooyanjamshidi, javier-camara

[2018-07-07 02:21] pooyanjamshidi commented on #96
Speed issue is now fixed, so closing this issue.

[2018-07-07 02:21] #96 closed, assigned to schmerl, pooyanjamshidi, javier-camara

[2018-07-07 02:24] pooyanjamshidi commented on #94
This is now implemented and the config file is shared between backend and planner, but apparently, not all parameters are considered in the planner, such as "battery_capacity", right @javier-camara?

[2018-07-07 02:24] #94 closed, assigned to javier-camara

[2018-07-07 02:25] pooyanjamshidi commented on #85
With the new update of Rainbow, now the charging plans make more sense, so I'm closing this, I will reopen if found an issue.

[2018-07-07 02:25] #85 closed, assigned to schmerl, pooyanjamshidi, javier-camara

[2018-07-07 14:56] pooyanjamshidi commented on #112
This is now fixed.

[2018-07-07 14:56] #112 closed, assigned to schmerl, javier-camara

[2018-07-07 15:09] pooyanjamshidi opened #113 "Wrong plan generated by the planner"
I enclosed all logs, but I want to highlight this plan that looks wrong to me. See the instruction tells the robot to go to `l4` which is located at (22.97, 10.81), while the planner tells the robot to go to (23.19, -0.54), and it actually leaves the robot at (23, -0.47), see the logs for details.
Note this is a scenario with obstacle placement: `curl -X POST "http://0.0.0.0:8080/perturb/place-obs

[2018-07-07 15:59] pooyanjamshidi commented on #113
Also, it is weird why the planner issued charging as the charge level is OK, somehow high in the second task. @javier-camara it would be good if we have some details about the cause, etc.

[2018-07-07 16:58] pooyanjamshidi commented on #113
The new planner seems to be working OK now, see logs below. @schmerl @javier-camara pls check.
[prism2.txt](https://github.com/cmu-mars/issues/files/2172923/prism2.txt)
[commnad_line-newc6.log](https://github.com/cmu-mars/issues/files/2172925/commnad_line-newc6.log)

[rainbow-analyzers.log](https://github.com/cmu-mars/issues/files/2172926/rainbow-analyzers.log)
[rainbow-logging.log](https://github

[2018-07-07 17:20] #113 closed, assigned to schmerl, javier-camara

[2018-07-09 20:13] pooyanjamshidi commented on #113
For note, the issue was related to probabilistic branching that seems to have introduced a bug in the last step of the policies according to @schmerl

[2018-07-23 18:02] pooyanjamshidi opened #114 "Robust adaptation planning against invalid configurations"
We need to have the mechanisms in place for robust adaptation planning. There are some invalid configurations that may happen due to measurement noise, learning inaccuracy, etc. So if the planner chooses to reconfigure to those configurations, tests will crash, but we want to have some fallback mechanisms that planner can choose, the second best configuration if the first is invalid or previous va

[2018-10-25 17:44] pooyanjamshidi opened #115 "Confidence (uncertainty) with respect to model-based estimation of performance"
When learning a model (either happing offline or online), we can pass some notion of confidence with respect to predictions of performance. You may interpret this as an estimate of model uncertainty. For example, we can say how confident the model is with respect to prediction of battery consumption of particular configuration and this confidence may vary from configuration to configuration. For t

[2018-10-25 17:45] pooyanjamshidi commented on #115
I added this to think about it in the future!

[2018-10-25 17:52] pooyanjamshidi opened #116 "Dynamically changing Pareto optimal configurations"
Considering uncertainty in #115  when certain configurations are needed at runtime, while that part of the model is not accurate enough, online learning could potentially help when we do targetted/guided sampling for that part of the configuration space. For this, we need to make some changes interfacing learning with Rainbow/Planning where as opposed to phase II where the Pareto front configurati

[2018-10-25 18:08] pooyanjamshidi opened #117 "Dynamically passing model to runtime"
Since in Phase III, we will be developing a transfer learning solution, an initial model will be learned offline and the model and measurement data will be transferred to runtime infrastructure for predicting performance and model update.